<header>
  <h1 class="rb-grey80">Sign in</h1>
</header>

<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.label :email, class: "label" %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit 'Sign in', class: "anon-pro b h2 mt3 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-grey80 bg-rb-white rb-grey80 rb-white-hover b--rb-purple-hover bg-rb-purple-hover shadow-4 no-underline" %>
  </div>

  <div class="other-links">
    <%= link_to 'Sign up', sign_up_path %>
    <%= link_to 'Forgot password?', new_password_path %>
  </div>
<% end %>
