<div class="grid grid-cols-[minmax(160px,_200px)_minmax(300px,_360px)_20px_1fr] grid-rows-[600px_50px_1fr] w-full min-h-[100dvh] relative">
  <div class="w-full bg-[#0D37F2] col-span-4"></div>
  <%= render "layouts/melbourne/header" %>

  <main class="col-span-4 grid grid-cols-subgrid max-w-[1500px]">
    <%= render partial: "layouts/melbourne/timeline" %>
    <div class="sticky top-[50px] z-40 flex-shrink-0 col-start-2 h-[calc(100dvh-50px)] shadow-[0_4px_34px_rgba(0,_0,_0,_0.1))]" style="overscroll-behavior: contain; scrollbar-width: none;">
      <nav id="events-list"
           class="flex overflow-y-auto absolute top-0 left-0 flex-col col-start-2 pt-2 pb-6 w-full h-full"
           data-controller="current-page" >
        <h3 class="px-4 my-2 text-gray-600">Upcoming Events</h3>
        <% if content_for?(:upcoming_events) && !yield(:upcoming_events).blank? %>
          <%= yield :upcoming_events %>
        <% else %>
          <div class="grid grid-rows-1 justify-center items-center mx-4 bg-gray-100 rounded-lg grids-cols-1">
            <p class="z-10 col-start-1 row-start-1 py-4 text-sm text-center text-gray-600">No upcoming events atm</p>
          </div>
        <% end %>

        <h3 class="px-4 mt-6 text-gray-600">Past Events</h3>
        <% if content_for?(:past_events) && !yield(:past_events).blank? %>
          <%= yield :past_events %>
          <p class="pt-4 text-sm text-center text-gray-600">End of the line folks 🚂</p>
        <% else %>
          <div class="flex flex-col justify-center items-center">
            <p>No past events.</p>
          </div>
        <% end %>
      </nav>
    </div>
    <div class="flex flex-col col-start-4 pt-6 snap-start">
      <%= turbo_frame_tag :event, aria: { live: "polite" } do %>
        <%= yield :event_summary %>
      <% end %>
    </div>
  </main>
</div>
