<!doctype html>
<html lang="en" class="snap-y">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= display_meta_tags site: "Ruby Melbourne" %>

  <%= yield :head %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <%= vite_stylesheet_tag("melbourne_application") %>
  <%= vite_javascript_tag("melbourne_application", defer: true) %>
  <%= vite_javascript_tag("controllers", defer: true) %>
</head>
<body>
  <%= yield %>
<footer class="text-center text-sm mt-4 mb-8 px-2 text-black/60">
  <p>Designed by <a href="https://www.x.com/CoreyGinnivan" target="_blank" class="prose-link">Corey Ginnivan</a> - Built by <a href="https://www.x.com/CoreyGinnivan" target="_blank" class="prose-link">Corey Ginnivan</a> & <a class="prose-link" href="https://www.x.com/CoreyGinnivan" target="_blank">Julian Pinzon Eslava</a></p>
  <p>Design and Development sponsored by <a class="prose-link" href="https://www.buildkite.com">Buildkite</a></p>
</footer>
</body>
</html>
