<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="text-field">
  <%= form.label :full_name %>
  <%= form.text_field :full_name %>
</div>

<div class="text-field">
  <%= form.label :preferred_name %>
  <%= form.text_field :preferred_name %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="text-field">
  <%= form.label :github_url %>
  <%= form.text_field :github_url, type: 'url' %>
</div>

<div class="text-field">
  <%= form.label :twitter_url %>
  <%= form.text_field :twitter_url, type: 'url' %>
</div>

<div class="text-field">
  <%= form.label :website_url %>
  <%= form.text_field :website_url, type: 'url' %>
</div>

<div class="text-field">
  <%= form.label :biography %>
  <%= form.text_area :biography, size: '35x5' %>
</div>

<div class="text-field">
  <%= form.label :display_profile %>
  <%= form.check_box :display_profile %>
</div>
