<% if form.object.errors.any? %>
  <div id="error_explanation" class="ui visible error message">
    <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this from being saved:</h2>

    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <div class="label">
    <%= form.label :email, class: 'required' %>
  </div>
  <div class="input">
    <%= form.text_field :email, type: 'email' %>
  </div>
</div>

<div class="field">
  <div class="label">
    <%= form.label :full_name, class: 'required' %>
  </div>
  <div class="input">
    <%= form.text_field :full_name %>
  </div>
</div>

<div class="field">
  <div class="label">
    <%= form.label :preferred_name, class: 'required' %>
  </div>
  <div class="input">
    <%= form.text_field :preferred_name %>
  </div>
</div>

<div class="field">
  <div class="label">
    <%= form.label :mailing_list, 'Mailing list' %>
  </div>
  <div class="input">
    <%= form.check_box :mailing_list %>
  </div>
</div>

<div class="field">
  <div class="label">
    <%= form.label :visible, 'Visible to public' %>
  </div>
  <div class="input">
    <%= form.check_box :visible %>
  </div>
</div>
