<% if form.object.errors.any? %>
  <div id="error_explanation" class="ui visible error message">
    <h2 class="rb-grey80 pl3"><%= pluralize(form.object.errors.count, "error") %> prohibited this from being saved:</h2>

    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="text-field">
  <%= form.label :email, class: 'required' %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="text-field">
  <%= form.label :full_name, class: 'required' %>
  <%= form.text_field :full_name %>
</div>

<div class="text-field">
  <%= form.label :preferred_name, class: 'required' %>
  <%= form.text_field :preferred_name %>
</div>

<div class="text-field">
  <%= form.label :mailing_list, 'Mailing list' %>
  <%= form.check_box :mailing_list %>
</div>

<div class="text-field">
  <%= form.label :visible, 'Visible to public' %>
  <%= form.check_box :visible %>
</div>
