<header>
  <h1 class="rb-grey80 pl3">Sign up</h1>
</header>

<%= form_for @user do |form| %>
  <%= render partial: '/users/form', object: form %>
  <div class="password-field">
    <%= form.label :password, class: 'required' %>
    <%= form.password_field :password %>
  </div>

  <div class="other-links">
    By signing up, you agree to
    the <%= link_to "Ruby Australia Terms and Conditions", "/terms-and-conditions" %>
  </div>

  <div class="submit-field">
    <%= form.submit 'Sign up', class: "anon-pro b h2 mt3 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-grey80 bg-rb-white rb-grey80 rb-white-hover b--rb-purple-hover bg-rb-purple-hover shadow-4 no-underline" %>
  </div>
<% end %>
