<header>
  <h1>Sign up</h1>
</header>

<%= form_for @user, html: {class: 'standard'} do |form| %>
  <%= render partial: '/users/form', object: form %>

  <div class="field">
    <div class="label">
      <%= form.label :password, class: 'required' %>
    </div>
    <div class="input">
      <%= form.password_field :password %>
    </div>
  </div>

  <div class="field">
    <p class="links">By signing up, you agree to
    the <%= link_to "Ruby Australia Terms and Conditions", "/terms-and-conditions" %>.</p>
  </div>

  <div class="buttons">
    <%= form.submit 'Sign up' %>
  </div>
<% end %>
