<%= content_for :preheader do %>
Join Ruby Australia.
<% end %>

<p>Hi<%=@name ? " #{@name}" : "" %>,</p>

<% if @sources.present? %>
<p>We're just getting in touch to check if you wish to be a member of Ruby Australia, given your recent attendance at <strong><%= @sources.join(", ") %></strong>. (Of course, if you've already registered on <a href="https://ruby.org.au">ruby.org.au</a> using a different email address, then you're already a member 😎 - sorry for the unnecessary notification!)</p>
<% end %>

<h2>What is Ruby Australia?</h2>
<p>Ruby Australia is the organisation behind many Ruby-related events across Australia, including RubyConf AU, Ruby Retreats, RailsGirls, and monthly meets in many cities. We provide financial and logistical support to event organisers, and seek to grow and improve the Ruby community across the country.</p>

<% if @sources.present? %>
<h2>Why am I receiving this email?</h2>
<p>According to our records, you have attended a recent Ruby Australia event (<%= @sources.join(", ") %>) - and everyone who attends one of our events is invited to become a member.</p>
<% end %>

<p>If you're interested - <strong>it doesn't cost anything!</strong> - we need to confirm your details for our records:</p>

<% if @token %>
<p class="button"><%= link_to "Confirm Membership", invitation_url(@token) %></p>
<% else %>
<p class="button"><%= link_to "Join", new_user_registration_url %></p>
<% end %>

<p>&nbsp;</p>

<h2>What does being a member mean?</h2>
<p>As a member, you get to attend and vote at our general meetings, and be nominated (by yourself or others) for a position in the association's committee.</p>
<p>We will also send you very occasional emails related to the association (perhaps a handful each year).</p>

<h2>What if I don't want to be a member?</h2>
<p>If you do not join up (using the above link), you will not be considered a member of Ruby Australia - which is completely fine. You do not need to be a member to attend any of our events, though of course by attending any events you are agreeing to behave in accordance with our <%= link_to "Code of Conduct", page_url("policies/code-of-conduct") %>.</p>

<% if @token %>
<p>If you plan to attend any future events, you can avoid being sent additional membership invitation emails related to those events by <%= link_to "unsubscribing", unsubscribe_invitation_url(@token) %>. If you change your mind at any point, you're able to <%= link_to "sign up as a member", new_user_registration_url %> on our website without needing to attend any events.</p>
<% end %>
