<nav role="navigation" class="flex items-center justify-between flex-wrap bg-red text-white">
  <header role="banner" class="bg-red py-2 px-5 flex-shrink-0 h-12">
    <a href="/" class="text-white no-underline flex flex-row">
      <%= image_tag 'logo_standalone_tiny.png', width: 34, alt: 'Ruby Australia Logo' %>
      <p class="self-center ml-4 text-white text-lg md:text-xl">Ruby Australia</p>
    </a>
  </header>
  <div class="mobile-menu-trigger block md:hidden bg-red">
    <button class="flex items-center mr-4 px-3 py-2 border rounded text-red-lightest border-red-lighter hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
      </svg>
    </button>
  </div>
  <% if false %>
    <div class="search ml-2 mt-6">
      <svg class="fill-current text-red inline-block h-4 w-4" viewBox="0 0 20 20">
        <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
      </svg>
      <label>
        <input type="text" placeholder="search..." class="border-solid text-red-darkest border-red border-b">
      </label>
    </div>
  <% end %>

  <div class="mobile-menu w-full md:visible flex-grow md:flex-col md:flex md:items-center md:w-auto bg-pearl text-red">
    <div class="actions ml-2 md:ml-0 mb-6">
      <% if user_signed_in? %>
        <%= link_to 'My Details', my_details_path, class: "bg-white" %>
        <%= link_to 'Log out', destroy_user_session_path, class: "bg-white", method: :delete %>
      <% else %>
        <%= link_to 'Join', new_user_registration_path, class: "bg-white" %>
        <%= link_to 'Log in', new_user_session_path, class: "bg-white" %>
      <% end %>
    </div>

    <section id="nav-primary" class="ml-5 md:ml-0" aria-roledescription="primary navigation">
      <nav role="navigation">
        <h3>Association</h3>
        <ul>
          <li><%= link_to "Welcome", "/" %></li>
          <li><%= link_to 'Committee Members', "/committee-members" %></li>
          <li><%= link_to_external "Meeting Minutes", "https://forum.ruby.org.au/c/ruby-au/meetings", longdesc: 'Committee Meeting minutes hosted on RubyAU Forums' %></li>
          <li><%= link_to 'Code of Conduct', "/policies/code-of-conduct" %></li>
          <li><%= link_to 'Constitution', "/constitution" %></li>
          <li><%= link_to 'Policies', "/policies" %></li>
          <li><%= link_to 'Sponsorship', "/sponsorship" %></li>
          <li><%= link_to "Contact us", "/contact" %></li>
        </ul>

        <h3>Events</h3>
        <ul>
          <li><%= link_to_external "Rails Camp", "https://rails.camp" %></li>
          <li><%= link_to_external "RubyConf AU", "https://rubyconf.org.au" %></li>
          <li><%= link_to 'Meetups', "/#in-person" %></li>
          <li><%= link_to 'Rails Girls', "/rails-girls" %></li>
        </ul>

        <h3>Community</h3>
        <ul>
          <li><%= link_to_external "Chat (Slack)", my_slack_invite_path %></li>
          <li><%= link_to_external "Videos", videos_path %></li>
          <li><%= link_to_external 'Mailing List', "/mailing-list" %></li>
        </ul>

        <h3>Social Media</h3>
        <ul>
          <li><%= link_to_external "LinkedIn", "https://www.linkedin.com/company/ruby-australia/" %></li>
          <li><%= link_to_external "Youtube", "https://www.youtube.com/channel/UCr38SHAvOKMDyX3-8lhvJHA/videos" %></li>
          <li><%= link_to_external "X", "https://twitter.com/rubyaustralia" %></li>
        </ul>

        <% if user_signed_in? %>
          <h3>Members</h3>
          <ul>
            <li><%= link_to "My Details", my_details_path %></li>
            <li><%= link_to "Upcoming Meetings", my_meetings_path %></li>
            <li><%= link_to "Register Access", my_access_requests_path %></li>
          </ul>
        <% end %>

        <% if current_committee? %>
          <h3>Committee</h3>
          <ul>
            <li><%= link_to "Members", admin_memberships_path %></li>
            <li><%= link_to "Access Requests", admin_access_requests_path %></li>
            <li><%= link_to "Imported Members", admin_imported_members_path %></li>
            <li><%= link_to "Campaigns", admin_campaigns_path %></li>
            <li><%= link_to "Blog", admin_posts_path %></li>
          </ul>
        <% end %>
      </nav>
    </section>
  </div>
</nav>
