<section id="meetups" class="">
  <div class="w-5xl m-auto flex flex-col justify-center">
    <article id="in-person" class="welcome md:ml-10 p-10">
      <h1>Meetups</h1>
      <p>To meet up with other Rubyists and Ruby-curious folks in person, you could perhaps attend our yearly <%= link_to "RubyConf AU", "https://rubyconf.org.au" %> conference, our twice-yearly <%= link_to "Ruby Retreats", "https://rails.camp" %> social coding weekends, or our more <a href="#events">regular meetings</a> for talks and coding across the country.</p>

      <p>Many cities and regions around Australia have regular meetings, often featuring presentations on a variety of Ruby and industry-related topics, and providing opportunities to socialise with other Rubyists.</p>

      <ul id="meetup-locations" class="mt-10 mx-4 md:ml-10">
        <li><%= link_to "Adelaide", "https://www.meetup.com/adelaiderb/"%></li>
        <li><%= link_to "Brisbane", "https://www.meetup.com/brisRuby/" %></li>
        <li><%= link_to "Melbourne", "https://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/" %></li>
        <li><%= link_to "Perth", "https://www.meetup.com/roro-perth/" %></li>
        <li><%= link_to "Sydney", "https://www.meetup.com/Ruby-On-Rails-Oceania-Sydney/" %></li>
      </ul>
    </article>
  </div>
</section>
