<section>
  <h3>Melbourne Ruby</h3>

  <article>
    <h4>When</h4>
    <p>Melbourne Ruby meetings happen on the last Wednesday of every month (with the exception of December which has a social event sometime in the middle of the month).</p>
    <p>Melbourne Ruby hack nights (where the focus is more on coding than talking) happen on the second Wednesday of every month.</p>
    <p>All events are listed on <%= link_to "Meetup.com", "http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/" %>.</p>
  </article>

  <article>
    <h4>Where</h4>
    <p>
      <%= link_to "Team Square", "https://www.google.com/maps/place/Teamsquare/@-37.815374,144.9562393,17z/data=!3m1!4b1!4m2!3m1!1s0x6ad642b34912aac5:0xd124a1025c95e39b?hl=en" %><br>
      1/520 Bourke St<br>
      Melbourne<br>
      6:00pm for a 6:30pm start!
    </p>
  </article>

  <article>
    <h4>Organisers</h4>
    <ul>
      <li>Gareth Townsend (<%= link_to "@quamen", "http://twitter.com/quamen" %>)</li>
      <li>Matt Allen (<%= link_to "@mattallen", "http://twitter.com/mattallen" %>)</li>
    </ul>
  </article>

  <article>
    <h4>Meeting Format</h4>
    <ul>
      <li>News &amp; events</li>
      <li>Who's hiring, who's available</li>
      <li>Lightning talks, tutorials and presentations on Ruby and related topics</li>
      <li>Food and drinks provided</li>
    </ul>
  </article>

  <article>
    <h4>Sponsors</h4>
    <ul>
      <li>Thanks to <%= link_to "Team Square", "https://teamsquare.co" %> for providing us with an awesome venue!</li>
      <li>Thanks to <%= link_to "Envato", "http://envato.com" %>, <%= link_to "Lookahead Search", "http://www.lookahead.com.au" %> and <%= link_to "Redbubble", "http://www.redbubble.com" %> for filling us with delicious food!</li>
      <li>Thanks to <%= link_to "ZenDesk", "http://www.zendesk.com" %> for providing us with tasty beverages!</li>
    </ul>
  </article>

  <article>
    <h4>Get Involved</h4>
    <p>Chatter about upcoming meetings takes place <%= link_to "on Meetup", "http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/" %> and the <%= link_to "Ruby or Rails Oceania", "https://groups.google.com/forum/?fromgroups#!forum/rails-oceania" %> Google Group.</p>
    <p>Presenters, organisers and sponsors are always welcome, contact the organisers through the Google Group or on Twitter.</p>
  </article>
</section>
