<section>
  <h3>Sydney Ruby</h3>

  <article>
    <h4>Next Meetup</h4>

    <h4>
      We meet <%= link_to 'on the second Tuesday of ever month', 'https://github.com/rails-oceania/roro/wiki/' %>
    </h4>

    <h4>
      6:30 (for 7pm) at the <%= link_to 'Pivotal offices', 'http://pivotal.io/locations/sydney' %> at 155 Clarence St, Sydney.
    </h4>

    <p>
      <%= link_to 'See our wiki for information', 'https://github.com/rails-oceania/roro/wiki/' %> on upcoming meetings.
      Please put your name down if you'd like to give a talk.
    </p>

    <p>
      Everyone welcome! We'd love to see you there.
    </p>

    <%= link_to 'King St Brewhouse', 'http://kingstbrewhouse.com.au/contact/' %>

  </article>

  <article>
    <h4>Organisers</h4>
    <ul>
      <li>Andrew Harvey (<%= link_to "@mootpointer", "http://twitter.com/mootpointer" %>)</li>
      <li>Kym McInerney (<%= link_to "@holodigm", "https://twitter.com/holodigm" %>)</li>
      <li>John D'Agostino (<%= link_to "@johndagostino", "https://twitter.com/johndagostino" %>)</li>
    </ul>
  </article>
</section>
