<%= content_for :heading do %>
  Sponsorship
<% end %>

<p>
  The founding purpose of Ruby Australia is to further the use and adoption of the Ruby programming language in Australia,
  and to support and encourage a vibrant community around the language and related technologies.
</p>

<p>
  We are very lucky to have many companies who have provided sponsorship over the years to help us achieve these goals,
  particularly through our <a href="/#in-person">regular events</a>: RubyConf AU, Rails Camp, ongoing city meetups,
  and Rails Girls. Their sponsorship support combined with the massive efforts of our volunteer organisers have created
  world-class conferences and gatherings.
</p>

<p>If you are interested in becoming a Ruby AU sponsor, please download our current Sponsorship Prospectus:</p>

<ul style="padding: 0; padding-left: 2rem; list-style-type: disc; list-style-position: inside">
  <li><%= link_to "2024 Sponsorship - Prospectus [PDF]", "/files/pdfs/RubyAU-2024-Sponsorship-Prospectus.pdf" %></li>
  <li><%= link_to "2024 Sponsorship - Executive Summary [PDF]", "/files/pdfs/RubyAU-2024-Sponsorship-Exec-Summary.pdf" %></li>
</ul>

<p>
You should also feel free to contact our sponsorship representatives via email: <%= mail_to "sponsorship@ruby.org.au" %>.
</p>

<section class="flex flex-1 flex-col border-l-2 border-grey-lighter md:mt-5">
  <article id="sponsors" class="welcome">
    <% sponsors.group_by { |sponsor| sponsor['tier'] }.each do |tier, sponsors| %>
      <section class="sponsor-logos flex flex-col">
        <h2><%= tier %> Sponsors </h2>
        <% sponsors.each do |sponsor| %>
          <%= link_to "/sponsors/#{sponsor['key']}", class: "sponsor-logo-no-border" do %>
            <%= image_tag "sponsors/#{sponsor['images'].first}", class: "sponsor-logo-#{tier.underscore}", alt: sponsor['name'] %>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </article>
</section>

