<%= content_for :heading do %>
  Sponsors
<% end %>

<div class="markdown sponsor-standalone">
  <h1><%= link_to sponsor['name'], sponsor['url'] %></h1>

  <h2><%= sponsor['tier'] %> Sponsor</h2>

  <p class="sponsor-logos">
    <% sponsor['images'].each do |image| %>
      <%= link_to sponsor['url'], :class => "sponsor-logo-no-border" do %>
        <%= image_tag "sponsors/#{image}", :class => "sponsor-logo sponsor-logo-standalone" %>
      <% end %>
    <% end %>
  </p>

  <%= markdown_to_html sponsor['bio'] %>
</div>
