<section id="association">
  <header>
    <h1>Association</h1>
  </header>

  <article>
    <header>
      <h3>Annual General Meeting Minutes</h3>
      <ul>
        <li>
          <%= link_to "June 14 2015 (Rails Camp 17)", "/general_meetings/2015-06-14.html" %>
        </li>
        <li>
          <%= link_to "May 10 2014 (Rails Camp 15)", "/general_meetings/2014-05-10.html" %>
        </li>
        <li>
          <%= link_to "November 03 2013 (Rails Camp 14)", "/general_meetings/2013-11-03.html" %>
        </li>
        <li>
          <%= link_to "June 23 2013 (Rails Camp 13)", "/general_meetings/2013-06-23.html" %>
        </li>
      </ul>
    </header>
  </article>

  <article>
    <header>
      <h3>Special General Meeting Minutes</h3>
      <ul>
        <li>
          <%= link_to "December 13 2015 (Rails Camp 18)", "/general_meetings/2015-12-13.html" %>
        </li>
        <li>
          <%= link_to "November 15 2014 (Rails Camp 16)", "/general_meetings/2014-11-15.html" %>
        </li>
        <li>
          <%= link_to "November 20 2012 (Rails Camp 12)", "/general_meetings/2012-11-20.html" %>
        </li>
        <li>
          <%= link_to "June 16 2012 (Rails Camp 11)", "/general_meetings/2012-06-16.html" %>
        </li>
      </ul>
    </header>
  </article>

  <article>
    <header>
      <h3>Committee Meeting Minutes</h3>
      <ul>
        <li>
          <%= link_to "April 19 2016 (Online Webinar)", '/committee_meetings/2016-04-19.html' %>
        </li>
        <li>
          <%= link_to "March 15 2016 (Online Webinar)", '/committee_meetings/2016-03-15.html' %>
        </li>
        <li>
          <%= link_to "January 12 2016 (Online Webinar)", "/committee_meetings/2016-01-12.html" %>
        </li>
        <li>
          <%= link_to "October 21 2015 (Online Webinar)", "/committee_meetings/2015-10-21.html" %>
        </li>
        <li>
          <%= link_to "September 16 2015 (Online Webinar)", "/committee_meetings/2015-09-16.html" %>
        </li>
        <li>
          <%= link_to "August 19 2015 (Online Webinar)", "/committee_meetings/2015-08-19.html" %>
        </li>
        <li>
          <%= link_to "July 8 2015 (Online Webinar)", "/committee_meetings/2015-07-08.html" %>
        </li>
      </ul>
    </header>
  </article>
</section>
