<h1>Committee Members</h1>

<div id="committee" class="flex flex-col md:flex-row flex-wrap">
  <% committee.each do |member| %>
    <article>
      <figure>
        <%= image_tag "committee-members/#{member['photo']}", class: "w-full overflow-hidden", alt: "Photo of #{member['name']}" %>
      </figure>
      <header>
        <div><%= member['name'] %></div>
        <div><%= member['position'] %></div>
      </header>
      <main>
        <%= markdown_to_html member['bio'] %>
      </main>
      <aside>
        <% if member['twitter'] %>
          <span>
            <%= inline_svg "twitter.svg", height: 16 %>
            <%= link_to "@#{ member['twitter']}", "https://twitter.com/#{ member['twitter']}" %>
          </span>
        <% end %>
        <% if member['github'] %>
          <span>
            <%= inline_svg "github.svg", height: 16 %>
            <%= link_to member['github'], "https://github.com/#{ member['github']}", title: 'GitHub' %>
          </span>
        <% end %>
        <% if member['linkedin'] %>
          <span>
            <%= inline_svg "linkedin.svg", height: 16 %>
            <%= link_to "LinkedIn", "https://www.linkedin.com/in/#{member['linkedin']}/" %>
          </span>
        <% end %>
        <% if member['website'] %>
          <span>
            <%= inline_svg "rss.svg", height: 16 %>
            <%= link_to member['website'].gsub(%r{^https?://}, ''), member['website'] %>
          </span>
        <% end %>
      </aside>
    </article>
  <% end %>
</div>

<p class="px-5">
  <%= link_to "Previous Committee Members", "/previous-committee-members" %>
</p>
