<section id="members">
  <header>
    <h1>Committee Members</h1>
  </header>

  <article>
    <%= image_tag "committee-members/leonard-garvey.jpg" %>
    <header>
      <h3>Leonard Garvey</h3>
      <p class="position">President</p>
    </header>

    <div class="bio">
      <p>Len has been a part of the Sydney Ruby community for several years. He organised Rails Camp 17 at Broken Bay north of Sydney and recently moved to Melbourne to take up a Tech Lead position with <%= link_to "REA", "http://www.rea-group.com/" %>. He enjoys helping new people in the Ruby community and is working to make it a fun and welcoming place for all.</p>
    </div>
    <div class="contact">
      <%= link_to "@lgarvey", "http://twitter.com/lgarvey" %>
      <%= link_to "GitHub", "https://github.com/lengarvey" %>
    </div>
  </article>
  <article>
    <%= image_tag "committee-members/lauren-hennessy.jpg" %>
    <header>
      <h3>Lauren Hennessy</h3>
      <p class="position">Vice President</p>
    </header>

    <div class="bio">
      <p>Lauren is a Software Development student and Rails intern with <%= link_to "Kampus", "http://kampus.com.au" %> in Adelaide. She co-organises the <%= link_to "Adelaide.rb", "http://www.meetup.com/adelaiderb/" %> meetup and is the lead organiser of Rails Camp Adelaide 2016. Having brought Rails Girls events to Adelaide in 2015, she's passionate about fostering diversity and growth in the Ruby community and is looking forward to working with the committee to achieve this.</p>
    </div>
    <div class="contact">
      <%= link_to "@L_K_Hennessy", "http://twitter.com/l_k_hennessy" %>
      <%= link_to "GitHub", "https://github.com/lkhennessy" %>
    </div>
  </article>
  <article>
    <%= image_tag "committee-members/jo-cranford.jpg" %>
    <header>
      <h3>Jo Cranford</h3>
      <p class="position">Treasurer</p>
    </header>

    <div class="bio">
      <p>Originally from the UK, Jo now works as a development lead at <%= link_to "Culture Amp", "http://www.cultureamp.com" %> in Melbourne, and is helping to organise RubyConf AU 2017. She loves tea and can't understand why people complain about the weather here.</p>
    </div>
    <div class="contact">
      <%= link_to "@jocranford", "http://twitter.com/jocranford" %>
      <%= link_to "GitHub", "https://github.com/jocranford" %>
    </div>
  </article>
  <article>
    <%= image_tag "committee-members/ryan-avatar.jpg" %>
    <header>
      <h3>Ryan Bigg</h3>
      <p class="position">Secretary</p>
    </header>

    <div class="bio">
      <p>
      <%= link_to "Writer of Rails Guides", "http://contributors.rubyonrails.org/contributors/ryan-bigg/commits" %>, <%= link_to "Rails 4 in Action", "https://www.manning.com/books/rails-4-in-action" %>, <%= link_to "Super Hero", "https://rubyheroes.com/heroes/2011" %> and <%= link_to "Answerer of Stack Overflow Questions", "http://stackoverflow.com/users/15245/ryan-bigg" %>. Works at Culture Amp as a Rubyist / Mentor. Continuously mistaken for Ryan Bates.
      </p>
    </div>
   <div class="contact">
      <%= link_to "@ryanbigg", "http://twitter.com/ryanbigg" %>
      <%= link_to "GitHub", "https://github.com/radar" %>
    </div>
  </article>
  <article>
    <!--<%= image_tag "committee-members/tom-ridge.jpg" %>-->
    <header>
      <h3>Tom Ridge</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Bio to be added.</p>
    </div>
 <div class="contact">
      <%= link_to "@tjridge", "http://twitter.com/tjridge" %>
      <%= link_to "GitHub", "https://github.com/ridget" %>
    </div>
  </article>
  <article>
    <!--<%= image_tag "committee-members/andre-vidic.jpg" %>-->
    <header>
      <h3>Andre Vidic</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Bio to be added.</p>
    </div>
 <div class="contact">
      <%= link_to "@dreJ2k", "http://twitter.com/dreJ2k" %>
      <!--   <%= link_to "GitHub", "https://github.com/lkhennessy" %>-->
    </div>
  </article>
  <article>
    <!--<%= image_tag "committee-members/edward-tippet.jpg" %>-->
    <header>
      <h3>Edward Tippet</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Bio to be added.</p>
    </div>
    <div class="contact">
      <%= link_to "@cattekin", "http://twitter.com/cattekin" %>
      <%= link_to "GitHub", "https://github.com/cattekin" %>
    </div>
  </article>
  <article>
    <!--<%= image_tag "committee-members/kylie-gusset.jpg" %>-->
    <header>
      <h3>Kylie Gusset</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Kylie Gusset is a creative who started working with code when the internet was powered by website under construction gifs. After spending time in textiles, she is transitioning back to development, and is passionate about diversity in tech.</p>
    </div>
<div class="contact">
      <%= link_to "@gusseting", "http://twitter.com/gusseting" %>
      <%= link_to "GitHub", "https://github.com/gusseting" %>
    </div>
  </article>




  <article>
    <%= link_to "Previous Committee Members", "/previous-committee-members" %>
  </article>
</section>
