<section id="members">
  <header>
    <h1>Committee Members</h1>
  </header>

  <article>
    <%= image_tag "committee-members/lauren-hennessy.jpg" %>
    <header>
      <h3>Lauren Hennessy</h3>
      <p class="position">President</p>
    </header>

    <div class="bio">
      <p>
        A junior developer and community evangelist, Lauren is a seasoned organiser of Ruby events both large and small. After a long while contributing to the community in her home town of Adelaide, she now resides in Melbourne and flounders around with code at <%= link_to "Culture Amp", "http://www.cultureamp.com" %>. She’s passionate about fostering diversity and growth in the Ruby community and is excited to be leading the committee in those pursuits.

        In her spare time, Lauren likes to play boardgames and watch awkward sitcoms. She will love you forever if you bring her a coffee on a long day (or any day).
      </p>
    </div>

    <div class="contact">
      <%= link_to "@Zajakot", "http://twitter.com/Zajakot" %>
      <%= link_to "GitHub", "https://github.com/lkhennessy" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/toby-nieboer.jpg" %>
    <header>
      <h3>Toby Nieboer</h3>
      <p class="position">Vice President</p>
    </header>

    <div class="bio">
     <p>
      Toby was a developer and dev manager for nine years before becoming a technical recruiter at Lookahead Search. He is also the co-organiser of the Melbourne Ruby meetup, a gadget hoarder, mac & cheese enthusiast and dad.
      </p>
    </div>
    <div class="contact">
      <%= link_to "@tcn33", "http://twitter.com/tcn33" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/jo-cranford.jpg" %>
    <header>
      <h3>Jo Cranford</h3>
      <p class="position">Treasurer</p>
    </header>

    <div class="bio">
      <p>
        Originally from the UK, Jo now works as a development lead at
        <%= link_to "Culture Amp", "http://www.cultureamp.com" %> in Melbourne,
        and is helping to organise RubyConf AU 2017.
        She loves tea and can't understand why people complain about the weather
        here.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@jocranford", "http://twitter.com/jocranford" %>
      <%= link_to "GitHub", "https://github.com/jocranford" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/ryan-avatar.jpg" %>
    <header>
      <h3>Ryan Bigg</h3>
      <p class="position">Secretary</p>
    </header>

    <div class="bio">
      <p>
        <%= link_to "Writer of Rails Guides",
          "http://contributors.rubyonrails.org/contributors/ryan-bigg/commits" %>,
        <%= link_to "Rails 4 in Action",
          "https://www.manning.com/books/rails-4-in-action" %>,
        <%= link_to "Super Hero", "https://rubyheroes.com/heroes/2011" %> and
        <%= link_to "Answerer of Stack Overflow Questions",
          "http://stackoverflow.com/users/15245/ryan-bigg" %>.
        Works at Culture Amp as a Rubyist / Mentor.
        Continuously mistaken for Ryan Bates.
      </p>
    </div>
    <div class="contact">
      <%= link_to "@ryanbigg", "http://twitter.com/ryanbigg" %>
      <%= link_to "GitHub", "https://github.com/radar" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/rachelle-lequesne.jpg" %>
    <header>
      <h3>Rachelle LeQuesne</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Rachelle is an active member of <%= link_to "BrisRuby", "https://www.meetup.com/BrisRuby/" %>, one half of <%= link_to "Rails Girls BNE", "http://railsgirlsbne.com/" %>, and runs the Ruby on Rails <%= link_to "Installfests", "http://railsinstallfest.org/" %> as part of her role as Community Manager for <%= link_to "reinteractive", "https://reinteractive.com/" %>. She is excited to be on the committee of Ruby Australia so that she can further serve the community.
      </p>
    </div>
    <div class="contact">
      <%= link_to "@RachelleOnRails", "http://twitter.com/rachelleonrails" %>
      <%= link_to "GitHub", "https://github.com/rachelleonrails" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/anton-katunin.jpg" %>
    <header>
      <h3>Anton Katunin</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Anton is an expert ruby developer and a big supporter of the Australian Ruby community. You often see him at MelbRuby, BrisRuby, HackNight, RailsCamp and CampJS. He's also co-hosted <%= link_to "BrisJelly.com", "http://brisjelly.com" %> and ActionHack. He worked with a number of startups over the years and often presents his experience at the local Ruby meetups.
      </p>
    </div>
    <div class="contact">
      <%= link_to "@antulik", "http://twitter.com/antulik" %>
      <%= link_to "antulik.com", "http://antulik.com" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/caitlin-palmer-bright.jpg" %>
    <header>
      <h3>Caitlin Palmer-Bright</h3>
      <p class="position">General Member</p>
    </header>

   <div class="bio">
    <p>
     After a few years as a park ranger and then a few more as a high school teacher, Caitlin has now made the transition into tech. She is currently an intern with TwoRedKites in Brisbane and recently started the <%= link_to "Brisbane Tech Newbies meet up group", "https://www.meetup.com/Brisbane-Tech-Newbies/" %>. When she’s not coding you will probably find her watching videos of puppies on youtube and eating as many snacks as she can find.
     </p>
   </div>
   <div class="contact">
     <%= link_to "@CaitlinPB", "https://twitter.com/CaitlinPB" %>
     <%= link_to "cpalmerbright.com", "http://cpalmerbright.com" %>
   </div>
  </article>

  <article>
    <%= image_tag "committee-members/nick-wolf.jpg" %>
    <header>
      <h3>Nick Wolf</h3>
      <p class="position">General Member</p>
    </header>

   <div class="bio">
     <p>
      Nick is a Melbourne Junior Ruby Dev who is passionate about Community Media and how technology is changing what it is to be human. He formerly hosted "The Year in Geek", a radio show interviewing 24 Geeks over a marathon 24 hours on topics ranging from Anime, Behavioural Economics and Formula One.
     </p>
   </div>
   <div class="contact">
     <%= link_to "@quintrino", "https://twitter.com/quintrino" %>
   </div>
  </article>



  <article>
    <%= link_to "Previous Committee Members", "/previous-committee-members" %>
  </article>
</section>
