<header class="bg-pink text-white h-12 pt-1">
  <h1 class="my-1 mx-5">Committee Members</h1>
</header>

<div id="committee" class="flex flex-col md:flex-row flex-wrap">
  <article>
    <figure>
      <%= image_tag "committee-members/pat-allan-new.jpg", class: "w-full overflow-hidden", alt: "Photo of Pat Allan" %>
    </figure>
    <header>
      <div>Pat Allan</div>
      <div>President</div>
    </header>
    <main>
      <p>
        Pat is a gelato connoisseur, pancake master, and occasional events organiser (including
        <a href="https://rubyconf.org.au/">RubyConf AU</a>,
        <a href="https://rails.camp/">Rails Camps</a>, and <a href="https://trampolineday.com/">Trampoline</a>).
        Mostly, though, he is a contracting Ruby developer based in Melbourne, and most recently has led the development
        efforts at
        <a href="https://limbr.org/">Limbr</a>, a social enterprise focused on mental health.
      </p>
    </main>
    <aside>
        <span>
          <%= inline_svg "twitter.svg", height: 16 %>
          <%= link_to "@pat", "https://twitter.com/pat" %>
        </span>
      <span>
          <%= inline_svg "rss.svg", height: 16 %>
        <%= link_to "freelancing-gods.com", "https://freelancing-gods.com/" %>
        </span>
    </aside>
  </article>

  <article>
    <figure>
      <%= image_tag "committee-members/caitlin-palmer-bright.jpg" %>
    </figure>
    <header>
      <div>Caitlin Palmer-Bright</div>
      <div>Vice President</div>
    </header>
    <main>
      <p>
        After a few years as a park ranger and then a few more as a high school teacher, Caitlin has now made the
        transition into tech. She is currently an intern with Two Red Kites in Brisbane and recently started
        the <%= link_to "Brisbane Tech Newbies meet up group", "https://www.meetup.com/Brisbane-Tech-Newbies/" %>. When
        she’s not coding you will probably find her watching videos of puppies on youtube and eating as many snacks as
        she can find.
      </p>
    </main>
    <aside>
       <span>
         <%= inline_svg "twitter.svg", height: 16 %>
         <%= link_to "@CaitlinPB", "https://twitter.com/CaitlinPB" %>
       </span>
      <span>
          <%= inline_svg "rss.svg", height: 16 %>
        <%= link_to "cpalmerbright.com", "http://cpalmerbright.com" %>
       </span>
    </aside>
  </article>

  <article>
    <figure>
      <%= image_tag "committee-members/ryan-bigg.png" %>
    </figure>
    <header>
      <div>Ryan Bigg</div>
      <div>Treasurer</div>
    </header>
    <main>
      <p>
        <%= link_to "Writer of Rails Guides",
                    "http://contributors.rubyonrails.org/contributors/ryan-bigg/commits" %>,
        <%= link_to "Rails 4 in Action",
                    "https://www.manning.com/books/rails-4-in-action" %>,
        <%= link_to "Super Hero", "https://rubyheroes.com/heroes/2011" %> and
        <%= link_to "Answerer of Stack Overflow Questions",
                    "http://stackoverflow.com/users/15245/ryan-bigg" %>.
        Works at Culture Amp as the Junior Engineering Program Lead.
        Continuously mistaken for Ryan Bates.
      </p>
    </main>
    <aside>
        <span>
          <%= inline_svg "twitter.svg", height: 16 %>
          <%= link_to "@ryanbigg", "http://twitter.com/ryanbigg" %>
        </span>
      <span>
          <%= inline_svg "github.svg", height: 16 %>
        <%= link_to "radar", "https://github.com/radar", title: 'GitHub' %>
        </span>
    </aside>
  </article>

  <article>
    <figure>
      <%= image_tag "committee-members/rachael-goodenough.jpg" %>
    </figure>
    <header>
      <div>Rachael Goodenough</div>
      <div>Secretary</div>
    </header>
    <main>
      <p>
        <a href="https://twitter.com/WWCodeMelbourne">@WWCodeMelbourne</a> Co-Organiser<br>
        <a href="https://twitter.com/NodeGirlsPerth">@NodeGirlsPerth</a> Organizer<br>
        <a href="https://twitter.com/rubyaustralia">@rubyaustralia</a> secretary<br>
        <a href="https://twitter.com/witqld">@witqld</a> ICT Committee Member<br>
        Lead Talent Acquisition Manager <a href="https://twitter.com/Readify">@Readify</a>
      </p>
    </main>
    <aside>
        <span>
          <%= inline_svg "twitter.svg", height: 16 %>
          <%= link_to "@RacheGoodo", "https://twitter.com/RacheGoodo" %>
        </span>
      <span>
          <%= inline_svg "linkedin.svg", height: 16 %>
        <%= link_to "LinkedIn", "https://www.linkedin.com/in/rachaelgoodenough/" %>
        </span>
    </aside>
  </article>

  <article>
    <figure>
      <%= image_tag "committee-members/sharon-vaughan.jpg" %>
    </figure>
    <header>
      <div>Sharon Vaughan</div>
      <div>General Member</div>
    </header>
    <main>
      <p>
        Late last millenium Sharon completed a computer degree because her mum, in the mid-80s, said, “There is a future
        in computers.”
        Mum may have been right but Sharon went for a wander through academia and the arts ending up as a Film
        Projectionist. When Sharon was replaced by a digital projector, she took irony firmly in hand and decided, in
        June 2016, to become a Developer. Sharon now works at Envato.
      </p>
    </main>
    <aside>
        <span>
          <%= inline_svg "twitter.svg", height: 16 %>
          <%= link_to "@Sharon_AV", "http://twitter.com/Sharon_AV" %>
        </span>
      <span>
          <%= inline_svg "github.svg", height: 16 %>
        <%= link_to "sharonvaughan", "https://github.com/sharonvaughan", title: 'GitHub' %>
        </span>
    </aside>
  </article>

  <article>
    <figure>
      <%= image_tag "committee-members/matt-stevenson.JPG" %>
    </figure>
    <header>
      <div>Matt Stevenson</div>
      <div>General Member</div>
    </header>
    <main>
      <p>
        Longtime tech enthusiast - and armed with an emoji for every occasion - Matt is a developer at
        <a href="https://2rk.co">Two Red Kites</a>. With a love of expressive language he naturally fell for Ruby.
        When away from the modern he can be found enjoying the traditional; small-batch coffee ☕ rear-wheel drive 🏎️
        and longbow archery 🏹.
      </p>
    </main>
    <aside>
        <span>
          <%= inline_svg "twitter.svg", height: 16 %>
          <%= link_to "@mattoc", "http://twitter.com/mattoc" %>
        </span>
      <span>
          <%= inline_svg "github.svg", height: 16, title: 'GitHub' %>
        <%= link_to "GitHub", "https://github.com/mattoc" %>
        </span>
    </aside>
  </article>

  <article>
    <figure>
      <%= image_tag "committee-members/sonya-corcoran.jpg" %>
    </figure>
    <header>
      <div>Sonya Corcoran</div>
      <div>General Member</div>
    </header>
    <main>
      <p>
        Laughing, learning, coding and growing these are a few of my favourite things. Aaaaaand...working as a Technical
        Recruiter
        <a href="https://twitter.com/LookaheadSearch">@LookaheadSearch</a>
      </p>
    </main>
    <aside>
        <span>
          <%= inline_svg "twitter.svg", height: 16 %>
          <%= link_to "@soxyface", "https://twitter.com/soxyface" %>
        </span>
      <span>
          <%= inline_svg "linkedin.svg", height: 16 %>
        <%= link_to "LinkedIn", "https://www.linkedin.com/in/sonyacorcoran/" %>
        </span>
    </aside>
  </article>
</div>

<p class="px-5">
  <%= link_to "Previous Committee Members", "/previous-committee-members" %>
</p>
