<section id="members">
  <header>
    <h1>Committee Members</h1>
  </header>

  <article>
    <%= image_tag "committee-members/toby-nieboer.jpg" %>
    <header>
      <h3>Toby Nieboer</h3>
      <p class="position">President</p>
    </header>

    <div class="bio">
     <p>
      Toby was a developer and dev manager for nine years before moving into recruitment. These days he hires software engineers for <%= link_to "Automattic", "https://automattic.com" %>, and is also the co-organiser of the <%= link_to "Melbourne Ruby meetup", "https://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne" %>, a gadget hoarder, mac &amp; cheese enthusiast and dad.
      </p>
    </div>
    <div class="contact">
      <%= link_to "@tcn33", "http://twitter.com/tcn33" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/lachlan-hardy.jpeg" %>
    <header>
      <h3>Lachlan Hardy</h3>
      <p class="position">Vice President</p>
    </header>

    <div class="bio">
     <p>
       Lachlan went to Sydney’s first Ruby on Rails meet up in 2006
       and has been an active member of the Australian Ruby community ever since.
       He has been an engineering manager,
       a Rubyist,
       an ecosystem strategist,
       a startup mentor,
       a full-time JavaScripter,
       an IPTV developer,
       a front-end developer,
       and a web standards professional.
       Now he works at
       <%= link_to "Blackmill", "https://blackmill.co" %>,
       a consultancy focused on helping technology organisations
       improve their software engineering practices.
      </p>
    </div>
    <div class="contact">
      <%= link_to "lachstock.com.au", "http://lachstock.com.au" %>
      <%= link_to "GitHub", "https://github.com/lachlanhardy" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/ryan-bigg.png" %>
    <header>
      <h3>Ryan Bigg</h3>
      <p class="position">Treasurer</p>
    </header>

    <div class="bio">
      <p>
        <%= link_to "Writer of Rails Guides",
          "http://contributors.rubyonrails.org/contributors/ryan-bigg/commits" %>,
        <%= link_to "Rails 4 in Action",
          "https://www.manning.com/books/rails-4-in-action" %>,
        <%= link_to "Super Hero", "https://rubyheroes.com/heroes/2011" %> and
        <%= link_to "Answerer of Stack Overflow Questions",
          "http://stackoverflow.com/users/15245/ryan-bigg" %>.
        Works at Culture Amp as the Junior Engineering Program Lead.
        Continuously mistaken for Ryan Bates.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@ryanbigg", "http://twitter.com/ryanbigg" %>
      <%= link_to "GitHub", "https://github.com/radar" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/nick-wolf.jpg" %>
    <header>
      <h3>Nick Wolf</h3>
      <p class="position">Secretary</p>
    </header>

   <div class="bio">
     <p>
      Nick is a Melbourne Junior Ruby Dev who is passionate about Community Media and how technology is changing what it is to be human. He formerly hosted "The Year in Geek", a radio show interviewing 24 Geeks over a marathon 24 hours on topics ranging from Anime, Behavioural Economics and Formula One.
     </p>
   </div>
   <div class="contact">
     <%= link_to "@quintrino", "https://twitter.com/quintrino" %>
   </div>
  </article>

  <article>
    <%= image_tag "committee-members/rachelle-lequesne.jpg" %>
    <header>
      <h3>Rachelle LeQuesne</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Rachelle is an active member of <%= link_to "BrisRuby", "https://www.meetup.com/BrisRuby/" %>, one half of <%= link_to "Rails Girls BNE", "http://railsgirlsbne.com/" %>, and runs the Ruby on Rails <%= link_to "Installfests", "http://railsinstallfest.org/" %> as part of her role as Community Manager for <%= link_to "reinteractive", "https://reinteractive.com/" %>. She is excited to be on the committee of Ruby Australia so that she can further serve the community.
      </p>
    </div>
    <div class="contact">
      <%= link_to "@RachelleOnRails", "http://twitter.com/rachelleonrails" %>
      <%= link_to "GitHub", "https://github.com/rachelleonrails" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/namibia-lebron-torres.jpg" %>
    <header>
      <h3>Namibia Lebron Torres</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Bio goes here
      </p>
    </div>
    <div class="contact">
      Contact info goes here
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/caitlin-palmer-bright.jpg" %>
    <header>
      <h3>Caitlin Palmer-Bright</h3>
      <p class="position">General Member</p>
    </header>

   <div class="bio">
    <p>
     After a few years as a park ranger and then a few more as a high school teacher, Caitlin has now made the transition into tech. She is currently an intern with TwoRedKites in Brisbane and recently started the <%= link_to "Brisbane Tech Newbies meet up group", "https://www.meetup.com/Brisbane-Tech-Newbies/" %>. When she’s not coding you will probably find her watching videos of puppies on youtube and eating as many snacks as she can find.
     </p>
   </div>
   <div class="contact">
     <%= link_to "@CaitlinPB", "https://twitter.com/CaitlinPB" %>
     <%= link_to "cpalmerbright.com", "http://cpalmerbright.com" %>
   </div>
  </article>

  <article>
    <%= image_tag "committee-members/ana-djordjevic.jpg" %>
    <header>
      <h3>Ana Djordjevic</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Hailing from Brisbane, Ana's first gig in Melbourne was with <%= link_to "Marketplacer", "http://marketplacer.com" %>. She went on to join the team at <%= link_to "Dr Me", "https://mydrgo.com.au/" %> as Lead Engineer, and now finds herself at Envato. She loves Ruby, and the community around it. Ana may be found at camps or meetups, or hiding at home with her cats.
      </p>
    </div>
    <div class="contact">
      <%= link_to "@anan0va", "http://twitter.com/anan0va" %>
      <%= link_to "GitHub", "https://github.com/ananova" %>
    </div>
  </article>



  <article>
    <%= link_to "Previous Committee Members", "/previous-committee-members" %>
  </article>
</section>
