<section id="members">
  <header>
    <h1 class="rb-grey80 pl3">Former Committee Members</h1>
  </header>

  <article>
    <%= image_tag "committee-members/ana-djordjevic.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Ana Djordjevic</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Ana has been a member of the tech community for a number of years.  Her Rails journey started in 2013 at Rails Girls Brisbane.  She moved to Melbourne in 2014 to work with <%= link_to "Marketplacer", "http://marketplacer.com" %>. Ana is passionate about code, though somewhat of a pedant.  She loves Ruby, and the community around it. Ana may be found at camps or meetups, or hiding at home with her cats.
      </p>
    </div>
    <div class="contact">
      <%= link_to "@anakinakova", "http://twitter.com/anakinakova" %>
      <%= link_to "GitHub", "https://github.com/anakinakova" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/tom-ridge.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Tom Ridge</h3>
      <p class="position">Vice President</p>
    </header>

    <div class="bio">
      <p>
        Tom is a developer, father of twins and dad joke connoisseur.
        He regularly speaks at
        <%= link_to "BrisRuby", "http://www.meetup.com/Brisruby/" %>
        and is passionate about mentoring.
        He works for <%= link_to "tworedkites", "http://tworedkites.com/" %>
        in Brisbane.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@tjridge", "http://twitter.com/tjridge" %>
      <%= link_to "GitHub", "https://github.com/ridget" %>
    </div>
  </article>
  <article>
    <%= image_tag "committee-members/leonard-garvey.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Leonard Garvey</h3>
      <p class="position">President</p>
    </header>

    <div class="bio">
      <p>
        Len has been a part of the Sydney Ruby community for several years.
        He organised Rails Camp 17 at Broken Bay north of Sydney and recently
        moved to Melbourne to take up a Tech Lead position with
        <%= link_to "REA", "http://www.rea-group.com/" %>.
        He enjoys helping new people in the Ruby community and is working to
        make it a fun and welcoming place for all.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@lgarvey", "http://twitter.com/lgarvey" %>
      <%= link_to "GitHub", "https://github.com/lengarvey" %>
    </div>
  </article>

  <article>
    <!--<%= image_tag "committee-members/andre-vidic.jpg" %>-->
    <header>
      <h3 class="rb-grey80 pl3">Andre Vidic</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>Bio to be added.</p>
    </div>

    <div class="contact">
      <%= link_to "@dreJ2k", "http://twitter.com/dreJ2k" %>
      <!--   <%= link_to "GitHub", "https://github.com/drej2k" %>-->
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/edward-tippett.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Edward Tippett</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Software Developer. Rails Camp enthusiast.
        Co-organiser of
        <%= link_to "Rubyburgers Adelaide", "http://rubyburgers.co/adelaide/" %>
      </p>
    </div>
    <div class="contact">
      <%= link_to "@cattekin", "http://twitter.com/cattekin" %>
      <%= link_to "GitHub", "https://github.com/cattekin" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/kylie-gusset.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Kylie Gusset</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Kylie Gusset is a creative who started working with code when the
        internet was powered by website under construction gifs.
        After spending time in textiles,
        she is transitioning back to development,
        and is passionate about diversity in tech.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@gusseting", "http://twitter.com/gusseting" %>
      <%= link_to "GitHub", "https://github.com/gusseting" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/melissa-kaulfuss.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Melissa Kaulfuss</h3>
      <p class="position">Vice President</p>
    </header>

    <div class="bio">
      <p>
        Mel is an internet enthusiast and polyglot amateur.
        She dreams of being a software developer,
        but at the moment is content helping the open source community continue
        to be a supportive, inclusive and welcoming place for everyone.
        Mel was on the organising team for Ruby Conf 2015,
        volunteers her time to help at numerous awesome tech conferences,
        and co-organises a Melbourne Meetup called
        <%= link_to "Code Kuma", "http://codekuma.io/" %>.
        She works at <%= link_to "Lookahead", "http://www.lookahead.com.au/" %>
        in Melbourne.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@MelissaKaulfuss", "http://twitter.com/MelissaKaulfuss" %>
      <%= link_to "GitHub", "https://github.com/MelissaKaulfuss" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/rebecca-skinner.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Rebecca Skinner</h3>
      <p class="position">Secretary</p>
    </header>

    <div class="bio">
      <p>
        Rebecca has been working with Ruby and Rails since making a fateful New
        Years Resolution to learn them at the end of 2010.
        She writes a lot, has Opinions about many things, and works for
        <%= link_to "reinteractive", "http://reinteractive.net" %>
        from sunny Perth.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@sevenseacat", "http://twitter.com/sevenseacat" %>
      <%= link_to "sevensea.cat", "http://sevensea.cat" %>
      <%= link_to "GitHub", "https://github.com/sevenseacat" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/rob-jacoby.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Rob Jacoby</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Rob fell in love with Ruby in 2011 after fighting with PHP for a number
        of years.
        He loves bending rails to his will,
        and is terrible at front-end design - or at least that's what designers
        say.
        He works at Local Directories on the fabulous Gold Coast.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@robjacoby", "http://twitter.com/robjacoby" %>
      <%= link_to "GitHub", "https://github.com/robjacoby" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/amanda-neumann.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Amanda Neumann</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        In her previous career, Amanda spent many years in the education space
        harnessing technology to improve education.
        Realising her heart had always been in programming she took a leap and
        set out to make the jump permanently.
        Along the way she fell in love with the Ruby community and is now working
        as a Junior Ruby Developer for
        <%= link_to "Envato", "http://www.envato.com" %>
        in Melbourne.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@amandamelb", "http://twitter.com/amandamelb" %>
      <%= link_to "GitHub", "https://github.com/amanda08" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/angus-scown.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Angus Scown</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Angus is the Software Engineering manager at <%= link_to "UrbisPro",
        "http://www.urbispro.com.au" %>.  As a land surveyor and software
        engineer Angus possesses the unique attributes of domain knowledge,
        skills and passion mixed with pioneering entrepreneurship. He has a
        passion for DevOps and has been using ruby for more years than he cares
        to recall.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@angusscown", "http://twitter.com/angusscown" %>
      <%= link_to "LinkedIn", "https://au.linkedin.com/in/angusscown" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/sebastian-avatar.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Sebastian von Conrad</h3>
      <p class="position">President</p>
    </header>

    <div class="bio">
      <p>
        After growing up in Sweden, Sebastian escaped to the US in 2007 and
        moved down under in 2009.
        He now lives in Melbourne with his partner and two fur children,
        and works as a development manager at
        <%= link_to "Envato", "http://www.envato.com" %>.
        He is also a certified baseball nut.
        Having organised Rails Camp X,
        he is excited to continue working with the Australian Ruby community.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@vonconrad", "http://twitter.com/vonconrad" %>
      <%= link_to "LinkedIn", "http://au.linkedin.com/in/vonconrad" %>
      <%= link_to "GitHub", "https://github.com/vonconrad" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/mikel-lindsaar.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Mikel Lindsaar</h3>
      <p class="position">Secretary 2015</p>
    </header>

    <div class="bio">
      <p>
        Mikel has been involved with Ruby since 2007 after deciding to learn
        ruby by building the
        <%= link_to "mail gem", "https://rubygems.org/gems/mail" %>.
        Since then he founded
        <%= link_to "reinteractive", "https://reinteractive.net/" %>
        in 2010 and co-founded
        <%= link_to "Flood.IO", "https://flood.io/" %> in 2013.
        Mikel enjoys his RC Helicopter flying and Formula1,
        both of which involve expensive things going fast into walls at odd
        angles.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@lindsaar", "http://twitter.com/lindsaar" %>
      <%= link_to "GitHub", "https://github.com/mikel" %>
      <%= link_to "reinteractive", "https://reinteractive.net" %>
      <%= link_to "flood.io", "https://flood.io" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/keith-pitt.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Keith Pitt</h3>
      <p class="position">General Member 2014-2015</p>
    </header>

    <div class="bio">
      <p>
        Keith (also known as "Magic Keith") is a developer from Adelaide living
        in Perth, Western Australia.
        He is the founder of the Continuous Integration service Buildbox
        <%= link_to "https://buildbox.io", "https://buildbox.io" %>
      </p>
      <p>
        In Keith's spare time, he watches many scary movies,
        and wins Magic Competitions.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@keithpitt", "http://twitter.com/keithpitt" %>
      <%= link_to "GitHub", "https://github.com/keithpitt" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/luke-arndt.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Luke Arndt</h3>
      <p class="position">General Member 2014-2015</p>
    </header>

    <div class="bio">
      <p>
        Luke is a developer from New Zealand who now lives in Melbourne,
        writing Ruby on Rails code at
        <%= link_to "Envato", "http://www.envato.com" %>
        to help improve their digital Marketplaces.
        His interests include good food (such as bacon), cycling, video games and
        sword fighting.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@luke_arndt", "http://twitter.com/luke_arndt" %>
      <%= link_to "GitHub", "https://github.com/lukearndt" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/melanie-sherrin.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Melanie Sherrin</h3>
      <p class="position">General Member 2014-2015</p>
    </header>

    <div class="bio">
      <p>
        A lawyer with a burning ambition to be a dev,
        Mel is new to the world of both coding and Ruby.
        Cat herder, burner, unionist and enjoyer of wine.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@melsherrin", "http://twitter.com/melsherrin" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/pat-allan.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Pat Allan</h3>
      <p class="position">Vice President 2014-2015</p>
    </header>

    <div class="bio">
      <p>
        Pat has been working with Ruby since 2006, and is based at the
        coworking space of
        <%= link_to "Inspire9", "http://inspire9.com" %>
        in Melbourne.
        Often, though, you'll find him travelling around the world,
        attending interesting events and meeting interesting people.
        He's a fan of bringing people together for gatherings small and large,
        including <%= link_to "Trampoline", "http://trampolineday.com" %>
        and <%= link_to "Rails Camp", "http://railscamps.com" %>.
        And if you ask him nicely, he might even cook you a pancake.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@pat", "http://twitter.com/pat" %>
      <%= link_to "GitHub", "http://github.com/pat" %>
      <%= link_to "Blog", "http://freelancing-gods.com" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/jason-stirk.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Jason Stirk</h3>
      <p class="position">Treasurer 2013-2014</p>
    </header>

    <div class="bio">
      <p>
        Jason met Ruby in late 2004, fell in love with its elegance,
        and met Rails not long after.
        He lives in Lismore and likes Rails Camp T's,
        game development and underscores.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@j_stirk", "http://twitter.com/j_stirk" %>
      <%= link_to "LinkedIn", "http://au.linkedin.com/in/jasonstirk/" %>
      <%= link_to "GitHub", "https://github.com/jstirk" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/luke-chadwick.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Luke Chadwick</h3>
      <p class="position">Secretary 2014</p>
    </header>

    <div class="bio">
      <p>
        Geek since birth. Rubyist &amp; DevOp. Lover. Idealist. Proud creator
        of <%= link_to "http://faxitforme.com", "http://faxitforme.com" %>
        (RailsRumble2012)
      </p>
      <p>
        Formerly at
        <%= link_to "realestate.com.au", "http://realestate.com.au" %>,
        Luke is now helping build a startup called
        <%= link_to "Pop!", "http://popanything.com" %>
      </p>
    </div>

    <div class="contact">
      <%= link_to "@vertis", "http://twitter.com/vertis" %>
      <%= link_to "GitHub", "https://github.com/vertis" %>
      <%= link_to "Blog", "http://vertis.io" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/josh-price.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Josh Price</h3>
      <p class="position">Vice President 2013</p>
    </header>

    <div class="bio">
      <p>
        Ruby / Javascript / Java Agilist. Founder of Canoniq. Apple tragic.
        Hack Night organiser. Bon vivant. Enthusiast. Coffee lover. Proud
        father.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@joshprice", "http://twitter.com/joshprice" %>
      <%= link_to "GitHub", "https://github.com/joshprice" %>
      <%= link_to "Josh's site", "http://joshprice.com/" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/dylan-lacey.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Dylan Lacey</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Dylan is a Ruby developer evangelist who thinks that computers will save
        the world - He's just not sure what from.
        He loves automating boring stuff,
        making software things and video games.
        He still can't fly.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@DylanLacey", "http://twitter.com/DylanLacey" %>
      <%= link_to "GitHub", "https://github.com/DylanLacey" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/elle-meredith.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Elle Meredith</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Elle is a full stack web developer with more than ten years experience,
        and a unique background that bridges the gap between the front- and
        back-end. She has been working with Ruby and Rails since 2007 and as a
        full time Rails developer since 2009.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@aemeredith", "http://twitter.com/aemeredith" %>
      <%= link_to "GitHub", "https://github.com/elle" %>
      <%= link_to "About Elle", "http://about.me/aemeredith" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/john-barton.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">John Barton</h3>
      <p class="position">General Member</p>
    </header>

    <div class="bio">
      <p>
        Bicycle, book, and booze enthusiast. Rubyist. Co-founder of
        <%= link_to "http://goodfil.ms", "http://goodfil.ms" %>.
      </p>
      <p>
        Former development team lead for Envato across their Marketplace
        products, John has been a long time member of the Australian Ruby
        community and has helped organise a couple of the Melbourne RailsCamps.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@johnbarton", "http://twitter.com/johnbarton" %>
      <%= link_to "GitHub", "https://github.com/joho" %>
      <%= link_to "John's site", "http://whoisjohnbarton.com/" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/lachie-cox.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Lachie Cox</h3>
      <p class="position">General Member</p>
    </header>

    <div class="contact">
      <%= link_to "@lachiecox", "http://twitter.com/lachiecox" %>
      <%= link_to "GitHub", "https://github.com/lachie" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/ben-avatar.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Ben Schwarz</h3>
      <p class="position">President 2013</p>
    </header>

    <div class="contact">
      <%= link_to "@benschwarz", "http://twitter.com/benschwarz" %>
      <%= link_to "Ben's site", "http://germanforblack.com" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/martin-stannard.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Martin Stannard</h3>
      <p class="position">Vice President: Jun 2012 &ndash; Jun 2013</p>
    </header>

    <div class="bio">
      <p>
        Martin discovered Ruby in 2003 and his affair with it continues to this
        day.
        When not riding his bike he can be found as Team Lead at Blake eLearning,
        a company dedicated to helping children improve their literacy and
        numeracy skills.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@_martinS_", "http://twitter.com/_martinS_" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/warren-seen.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Warren Seen</h3>
      <p class="position">General Member: Jun 2012 &ndash; Jun 2013</p>
    </header>

    <div class="bio">
      <p>
        Rails Developer. Reformed Freelancer. Mashing keyboards until ruby comes
        out for @envato
      </p>
    </div>

    <div class="contact">
      <%= link_to "@warren_s", "http://twitter.com/warren_s" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/david-goodlad.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">David Goodlad</h3>
      <p class="position">General Member: Jun 2012 &ndash; Jun 2013</p>
    </header>

    <div class="bio">
      <p>
        A native of Canada, David now lives in Melbourne and is an active member
        of the local Ruby community.
        He enjoys both attending and speaking at Ruby-related events,
        having presented talks at RailsConf Europe 2006 in London,
        and at RubyConf 2008 in Orlando.
      </p>
      <p>
        David is part of the development team behind the
        <%= link_to "Envato", "http://www.envato.com/" %> marketplaces,
        building and maintaining one of the longest-running public Ruby on
        Rails-based apps in Australia.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@dgoodlad", "http://twitter.com/dgoodlad" %>
      <%= link_to "GitHub", "http://github.com/dgoodlad" %>
      <%= link_to "David's Blog", "http://d.goodlad.net" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/keith-avatar.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Keith Pitty</h3>
      <p class="position">President: Jan 2012 &ndash; Jun 2012</p>
    </header>

    <div class="bio">
      <p>
        A long-time participant, former convener of and occasional presenter at
        Sydney Ruby meetups, Keith led the organisation of Rails Camp 9 at Lake
        Ainsworth in 2011 and co-organised the inaugural
        <%= link_to "RubyConfAU", "http://rubyconf.org.au" %>
        in Melbourne in 2013. He runs
        <%= link_to "Cockatoo Software", "http://www.cockatoosoftware.com.au" %>.
      </p>
      <p>
        Away from computers, he loves sport, especially cricket, golf and Aussie
        Rules.
        And single malt whisky.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@keithpitty", "http://twitter.com/keithpitty" %>
      <%= link_to "LinkedIn", "http://au.linkedin.com/in/keithpitty" %>
      <%= link_to "GitHub", "https://github.com/keithpitty" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/richie-avatar.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Richie Khoo</h3>
      <p class="position">Secretary: Jan 2012 &ndash; Jun 2012</p>
    </header>

    <div class="bio">
      <p>
        Richie is a passionate Ruby Developer who recently moved to Adelaide
        but still moonlights in Melbourne.
      </p>
      <p>
        A member of Inspire 9 CoWorking and co-founder of AngelCube.com
        Melbourne's first startup venture accelerator, he is currently working on
        his own startup, NakedInsights an automation tool for Financial Advisers,
        and has a passion for helping people bring projects to reality.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@evolve2k", "http://twitter.com/evolve2k" %>
      <%= link_to "LinkedIn", "http://au.linkedin.com/in/richiekhoo" %>
      <%= link_to "GitHub", "https://github.com/evolve2k" %>
      <%= link_to "Zerply", "http://zerply.com/richie" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/ben-avatar.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Ben Schwarz</h3>
      <p class="position">General Member: Jan 2012 &ndash; Jun 2012</p>
    </header>

    <div class="contact">
      <%= link_to "@benschwarz", "http://twitter.com/benschwarz" %>
      <%= link_to "Ben's site", "http://germanforblack.com" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/sebastian-avatar.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Sebastian von Conrad</h3>
      <p class="position">Treasurer: Jan 2012 &ndash; Dec 2012</p>
    </header>

    <div class="bio">
      <p>
        After growing up in Sweden, Sebastian escaped to the US in 2007 and
        moved down under in 2009.
        He now lives in Melbourne with his partner and two fur children,
        and works as a development manager at
        <%= link_to "Envato", "http://www.envato.com" %>.
        He is also a certified baseball nut.
        Having organised Rails Camp X,
        he is excited to continue working with the
        Australian Ruby community.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@vonconrad", "http://twitter.com/vonconrad" %>
      <%= link_to "LinkedIn", "http://au.linkedin.com/in/vonconrad" %>
      <%= link_to "GitHub", "https://github.com/vonconrad" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/daniel-avatar.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Daniel Draper</h3>
      <p class="position">
        General Member: Jan 2012 &ndash; Jun 2012, Secretary: Jun 2012 &ndash;
        Dec 2012
      </p>
    </header>

    <div class="bio">
      <p>
        Dan is CEO of Tech Startup,
        <%= link_to "Codehire", "http://www.codehire.com/" %>
        and has been working with Rails since 2006.
        He is actively involved in Adelaide.rb and the Ruby community at large.
        Dan is passionate about promoting software and web development as
        a career choice for younger people and about open source software in
        business.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@danieldraper", "http://twitter.com/danieldraper" %>
      <%= link_to "Linkedin", "http://www.linkedin.com/in/ddraper" %>
    </div>
  </article>

  <article>
    <%= image_tag "committee-members/nigel-avatar.jpg" %>
    <header>
      <h3 class="rb-grey80 pl3">Nigel Rausch</h3>
      <p class="position">President 2012</p>
    </header>

    <div class="bio">
      <p>
        Nigel has a strong community spirit and is heavily involved organising
        Brisbane's Ruby, Javascript and WorkAtJelly meetups as well as mentoring
        friends and ex-colleagues in their business ventures.
      </p>
      <p>
        He is proud to be part of the Ruby Australia Association and is excited
        how it will make Ruby more visible to the wider community and to the
        Enterprise.
      </p>
    </div>

    <div class="contact">
      <%= link_to "@NR99", "http://twitter.com/NR99" %>
      <%= link_to "Linkedin", "http://www.linkedin.com/in/nigelrausch" %>
    </div>
  </article>
</section>
