<%= content_for :heading do %>
  Rails Girls
<% end %>

<p>
  Rails Girls is a global, non-profit volunteer community that provides tools and a community for women to understand technology and to build their ideas. You can find more information on the <%= link_to "Rails Girls website.", "http://railsgirls.com/" %>
</p>

<p>
  Australian editions of these events run regularly across the country - to stay on top of what's happening and to hear when an event is run near you, we recommend you sign up for our Rails Girls Australia announcements mailing list.
</p>

<%= form_tag "http://rubyaustralia.createsend.com/t/j/s/qtheu/", id: "subForm", class: "standard" do %>
  <div class="field">
    <div class="label">
      <%= label_tag "cm-name", "Name" %>
    </div>
    <div class="input">
      <%= text_field_tag "cm-name" %>
    </div>
  </div>

  <div class="field">
    <div class="label">
      <%= label_tag "cm-qtheu-qtheu", "Email" %>
    </div>
    <div class="input">
      <%= text_field_tag "cm-qtheu-qtheu" %>
    </div>
  </div>

  <div class="buttons">
    <%= submit_tag "Subscribe" %>
  </div>
<% end %>
