<h1 class="rb-grey80 pl3">Rails Girls</h1>

<p>
  Join the Rails Girls Melbourne mailing list here.
</p>

<%= form_tag "http://rubyaustralia.createsend.com/t/j/s/qtheu/", id: "subForm" do %>
  <p>
    <%= label_tag "cm-name", "Name" %>
    <br>
    <%= text_field_tag "cm-name" %>
  </p>

  <p>
    <%= label_tag "cm-qtheu-qtheu", "Email" %>
    <br>
    <%= text_field_tag "cm-qtheu-qtheu" %>
  </p>

  <%= submit_tag "Subscribe", class: "anon-pro b h2 w4 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-purple rb-purple rb-white-hover rb-purple-focus bg-rb-purple-hover shadow-4 no-underline" %>
<% end %>
