<section>
  <h1>Sponsorship</h1>

  <p>
    The founding purpose of Ruby Australia is to further the use and adoption of the Ruby programming
    language in Australia, and to support and encourage a vibrant community around the language and related
    technologies.
  </p>
  <p>
    Ruby Australia organises RubyConf AU, Rails Camps, meet ups, hack days and Rails Girls events. We rely on
    the support of both volunteers and companies in our community to be able to run these events.
  </p>
  <p>
    If you are interested in becoming a Ruby AU sponsor for 2019-20, please
    <%= link_to "download our prospectus", "/files/sponsorship_2019-2020.pdf" %>
    and email us at
    <%= mail_to "sponsorship@ruby.org.au" %>.
  </p>
</section>

<section id="sponsors">
  <section class="sponsor-logos flex flex-col">
    <h2>Emerald Sponsors</h2>
    <% %w(lookahead envato culture-amp).shuffle.each do |sponsor| %>
      <%= link_to "/sponsors/#{sponsor}", class: "sponsor-logo-no-border" do %>
        <%= image_tag "sponsors/#{sponsor}.png", class: "sponsor-logo-emerald" %>
      <% end %>
    <% end %>
  </section>

  <section class="sponsor-logos flex flex-col">
    <h2>Opal Sponsors</h2>
    <%= link_to "/sponsors/buildkite", class: "sponsor-logo-no-border" do %>
      <%= image_tag "sponsors/buildkite.png", class: "sponsor-logo-opal" %>
    <% end %>
  </section>

</section>
