
<div class="md:max-w-full">
  <section id="hero" class="hidden md:block bg-pink p-24 pl-0">
    <div class="flex">
      <div class="w-32 justify-center flex-no-shrink pl-12 mr-12 mt-2">
        <%= image_tag 'ruby_au_logo_new.png', height: 160, width: 160 %>
      </div>
      <article class="flex-grow md:max-w-md text-3xl text-white font-bold">
        Ruby Australia is a friendly community of coders who meet regularly across the country to have fun, learn from each other, and refine our craft.
      </article>
    </div>
  </section>

  <% if ENV['RAILSCAMP_URL'] %>
    <%= render :partial => "notice", :locals => {:url => ENV['RAILSCAMP_URL'], :title => "View Rails Camp information and order tickets", :text => "Rails Camp tickets on sale now!"} %>
  <% end %>
  <% if ENV['RUBYCONF_URL'] %>
    <%= render :partial => "notice", :locals => {:url => ENV['RUBYCONF_URL'], :title => "View RubyConf AU information and order tickets", :text => "RubyConf AU tickets on sale now!"} %>
  <% end %>
  <% if ENV['SURVEY_URL'] %>
    <%= render :partial => "notice", :locals => {:url => "/#{Time.current.year}survey", :title => "Take the annual Ruby Australia survey", :text => "Take the #{Time.current.year} community survey!"} %>
  <% end %>

  <section id="welcome" class="flex flex-1 flex-col border-l-2 border-grey-lighter md:mt-5">
    <article class="welcome md:ml-10">
      <h2>Welcome</h2>

      <p>
        Ruby is a beautiful programming language that was created for the unique purpose of programmer happiness.
      </p>

      <p>
        We're big on happiness and welcome you to join us; be you a beginner, experienced professional, or even if you don't yet code or use Ruby at all.
      </p>
    </article>

    <article class="call-to-action my-3 md:my-5 ml-10 max-w-xs md:max-w-md flex flex-col md:flex-row">
      <a href="#in-person" class="cta">Meet In Person</a>
      <a href="#online" class="cta">Connect Online</a>
      <a href="#about" class="cta">About Us</a>
    </article>

    <div class="divider divider-2">&nbsp;</div>

    <article id="in-person" class="welcome md:ml-10">
      <h2>Meeting in Person</h2>

      <p>
        To meet up with other Rubyists and Ruby-curious folks in person, you could perhaps attend our yearly <%= link_to_external "RubyConf AU", "https://rubyconf.org.au" %> conference, our twice-yearly <%= link_to_external "Rails Camp", "https://rails.camp" %> social coding weekends, or our more <a href="#events">regular meetings</a> for talks and coding across the country.
      </p>

      <p>
        Many cities and regions around Australia have regular meetings, often featuring presentations on a variety of Ruby and industry-related topics, and providing opportunities to socialise with other Rubyists.
      </p>

      <ul id="meetup-locations" class="list-reset mt-10 mx-4 md:ml-10">
        <li><%= link_to_external "Adelaide", "https://www.meetup.com/adelaiderb/"%></li>
        <li><%= link_to_external "Brisbane", "https://www.meetup.com/brisRuby/" %></li>
        <li><%= link_to_external "Canberra", "https://www.meetup.com/canberra-ruby/" %></li>
        <li><%= link_to_external "Melbourne", "https://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/" %></li>
        <li><%= link_to_external "Perth", "https://www.meetup.com/roro-perth/" %></li>
        <li><%= link_to_external "Sydney", "https://www.meetup.com/Ruby-On-Rails-Oceania-Sydney/" %></li>
      </ul>
    </article>

    <div class="divider divider-3">&nbsp;</div>

    <article id="online" class="welcome md:ml-10">
      <h2>Connecting Online</h2>

      <p>
        There are many ways to get involved in the Australian Ruby community. If you're looking for something online - where you can ask questions and keep on top of the latest happenings - there's our <%= link_to_external "Slack workspace", "/slack" %> and our <%= link_to_external "forum", "https://forum.ruby.org.au" %>.
      </p>

      <p>
        We also have talks from our previous events - both conferences and meetings - <%= link_to_external "available on YouTube", "/videos" %>. And you can <%= link_to_external "follow us on Twitter", "https://twitter.com/rubyaustralia" %>.
      </p>
    </article>

    <div class="divider">&nbsp;</div>

    <article id="about" class="welcome md:ml-10">
      <h2>About Us</h2>

      <p>
        Ruby Australia was set up as an organisation in 2011 to support the community and events around Australia focused on the Ruby programming language. All of our events are run with our <%= link_to "Code of Conduct", page_path("code-of-conduct") %>.
      </p>

      <p>
        Our committee members are elected at our general meetings that occur twice a year, and they help with advising and supporting the logistics of our events and community spaces.
      </p>

      <p>
        We are very grateful to <%= link_to "our sponsors", "/sponsorship" %> for their ongoing support to help make our events more affordable and accessible to a broader array of people across Australia.
      </p>
    </article>
  </section>

  <section id="contributing" class="bg-pink text-white flex pb-5">
    <div class="w-3/5 ml-5 md:ml-10 flex flex-col self-stretch justify-center">
      <h3 class="my-3 text-white">Contributing to the site</h3>
      <p class="pr-10 text-white">The site's source is hosted on Github:
        <%= link_to "github.com/rubyaustralia/ruby_au", "https://github.com/rubyaustralia/ruby_au", class: "text-pink-lightest border-b border-pink-lighter" %>.
      Please refer to the README there for more details, or join our Slack channel.</p>
    </div>

    <div class="w-1/5">
      <%= image_tag 'ruby_au_logo_new.png', height: 120, width: 120, class: 'self-center my-10 ml-10 md:ml-0' %>
    </div>
  </section>
</div>
