<% if ENV['RAILSCAMP_URL'] %>
<section class="bg-purple text-white py-6 flex justify-center">
  <a class="border-pink border-2 text-pink font-mono no-underline hover:bg-pink hover:text-white text-bold bg-white py-2 px-5 shadow-md" href="<%= ENV['RAILSCAMP_URL'] %>" title="View RailsCamp info and order tickets">
    rails camp tickets on sale now!
  </a>
</section>
<% elsif ENV['RUBYCONF_URL'] %>
 <section class="bg-purple text-white py-6 flex justify-center">
  <a class="border-pink border-2 text-pink font-mono no-underline hover:bg-pink hover:text-white text-bold bg-white py-2 px-5 shadow-md" href="<%= ENV['RUBYCONF_URL'] %>" title="View RubyConfAU info and order tickets">
    rubyconf tickets on sale now!
  </a>
</section>
<% elsif ENV['SURVEY_URL'] %>
 <section class="bg-purple text-white py-6 flex justify-center">
  <a class="border-pink border-2 text-pink font-mono no-underline hover:bg-pink hover:text-white text-bold bg-white py-2 px-5 shadow-md" href="/<%= Time.zone.now.year %>survey" title="Take the annual Ruby Australia survey">
    take the <%= Time.zone.now.year %> ruby australia survey!
  </a>
</section>
<% end %>

<div class="md:max-w-xl">
  <section id="hero" class="hidden md:block bg-pink p-24 pl-0">
    <div class="flex">
      <div class="w-32 justify-center flex-no-shrink pl-12 mr-12 mt-2">
        <%= image_tag 'ruby_au_logo_new.png', height: 160, width: 160 %>
      </div>
      <article class="flex-grow md:max-w-md text-3xl text-white font-bold">
        RubyAU is a friendly community of coders who meet regularly to
        have fun, learn from each other, and refine our craft.
      </article>
    </div>
  </section>

  <section id="welcome" class="flex flex-1 flex-col border-l-2 border-grey-lighter">
    <article class="text-xl max-w-md mx-4 md:ml-10">
      <p class="mt-10">
        Ruby is a beautiful programming language that was created in Japan
        for the unique purpose of programmer happiness.
      </p>
      <p class="mt-10">
        We're big on happiness and welcome you to join us; be you a beginner, pro,
        or even if you don't code or use Ruby at all.
      </p>
    </article>

    <article id="call-to-action" class="my-3 md:my-10 ml-10 max-w-xs flex flex-col md:flex-row">
      <a href="#new" class="cta">New to Ruby?</a>
      <a href="#getinvolved" class="cta">Get Involved</a>
      <a href="#educators" class="cta">Educators</a>
    </article>

    <%= inline_svg 'divider1.svg', class: "md:max-w-xl" %>

    <article id="events" class="my-10">
      <h2 class="ml-4 md:ml-10">Latest Events</h2>
      <ul id="meetup-locations" class="list-reset mx-4 md:ml-10">
        <li>
          <%= link_to "Adelaide", "https://www.meetup.com/adelaiderb/", id: "adl" %>
        </li>
        <li>
          <%= link_to "Brisbane", "https://www.meetup.com/brisRuby/", id: "bne" %>
        </li>
        <li>
          <%= link_to "Canberra", "https://www.meetup.com/canberra-ruby/", id: "can" %>
        </li>
        <li>
          <%= link_to "Melbourne", "https://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/", id: "mel" %>
        </li>
        <li>
          <%= link_to "Perth", "https://www.meetup.com/roro-perth/", id: "per" %>
        </li>
        <li>
          <%= link_to "Sydney", "https://www.meetup.com/Ruby-On-Rails-Oceania-Sydney/", id: "syd" %>
        </li>
      </ul>
    </article>

    <%= inline_svg 'divider2.svg', class: "md:max-w-xl" %>

    <article id="get-involved" class="mx-4 md:ml-10 my-10">
      <p>The best way to get involved is to get along to one of our twice-yearly
      <%= link_to 'railscamps', 'https://rails.camp' %>.
      We also host an annual conference, as well as local meetups which are a great way to meet
      other locals who love to code.</p>

      <p>Ruby has a fascinating history and there have been many great talks over the years. We keep
        many in our video section. There also many great camps and conferences around the world.</p>

      <p>We have a vibrant eco-system; check out our jobs board. We'd love to hear from companies
        looking to use Ruby, and ways we can support you to sponsor the community.</p>
    </article>
  </section>

  <section id="contributing" class="bg-pink text-white flex pb-5">
    <div class="w-3/5 ml-5 md:ml-10 flex flex-col self-stretch justify-center">
      <h3 class="my-3 text-white">Contributing to the site</h3>
      <p class="pr-10 text-white">The site's source is hosted on Github:
        <%= link_to "github.com/rubyaustralia/ruby_au", "https://github.com/rubyaustralia/ruby_au", class: "text-pink-lightest border-b border-pink-lighter" %>.
      Please refer to the README there for more details, or join our Slack channel.</p>
    </div>

    <div class="w-1/5">
      <%= image_tag 'ruby_au_logo_new.png', height: 120, width: 120, class: 'self-center my-10 ml-10 md:ml-0' %>
    </div>
  </section>
</div>
