<%= content_for :heading do %>
  RSVP: <%= rsvp.rsvp_event.title %>
<% end %>

<h2>RSVP for <%= rsvp.rsvp_event.title %></h2>

<p>This event will be taking place on <strong><%= rsvp.rsvp_event.happens_at.to_formatted_s(:date_only) %></strong> with the starting time across Australia:</p>

<ul>
  <% time_zones.each do |zone, locations| %>
    <li><%= rsvp.rsvp_event.happens_at.in_time_zone(zone).to_formatted_s(:time_only) %> (<%= locations %>)</li>
  <% end %>
</ul>

<% if rsvp.status == "yes" %>
  <p>You are currently <strong>confirmed to attend</strong> this event. If that's no longer the case, please <%= link_to "change your status", decline_rsvp_path(rsvp.token), rel: 'nofollow' %>.</p>
<% elsif rsvp.status == "no" %>
  <p>You are currently marked as <strong>unable to attend</strong> this event. If instead you can now make it, please <%= link_to "change your status", confirm_rsvp_path(rsvp.token), rel: 'nofollow' %>.</p>
<% else %>
  <p>You have not yet RSVP'd for this event. You can either <%= link_to "confirm", confirm_rsvp_path(rsvp.token), rel: 'nofollow' %> or <%= link_to "decline", decline_rsvp_path(rsvp.token), rel: 'nofollow' %>.</p>
<% end %>

<h3>Proxy Voting</h3>

<% if rsvp.proxy_name.blank? %>
  <p>If you wish to have someone else vote on your behalf, you can assign them as your proxy for the meeting.</p>

  <%= form_for rsvp, url: rsvp_path(rsvp.token), html: {class: 'standard', id: 'set-proxy-form'} do |form| %>
    <div class="field">
      <div class="label">
        <%= form.label :proxy_name %>
      </div>
      <div class="input">
        <%= form.text_field :proxy_name %>
      </div>
    </div>

    <div class="signature field">
      <div class="label">
        <%= form.label :proxy_signature %>
      </div>

      <div id="signature-pad" class="signature-pad input">
        <%= form.hidden_field :proxy_signature %>
        <div class="signature-pad--body">
          <canvas></canvas>
        </div>
        <div class="signature-pad--footer">
          <div class="description">Sign above</div>

          <div class="signature-pad--actions">
            <div>
              <button type="button" class="button clear" data-action="clear">Clear</button>
              <button type="button" class="button" data-action="undo">Undo</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="info">
      As a member of Ruby Australia, you (<%= rsvp.membership.full_name %>) appoint this person as your proxy to vote on your behalf as they see fit, for the <%= rsvp.rsvp_event.title %> on <%= rsvp.rsvp_event.happens_at.to_formatted_s(:date_only) %> and at any adjournment of that meeting.
    </p>

    <div class="buttons">
      <%= form.submit 'Assign Proxy' %>
    </div>
  <% end %>

  <script type="text/javascript">
    setupSignature();
  </script>
<% else %>
  <p>You have assigned <%= rsvp.proxy_name %> as your proxy representative, as of <%= rsvp.proxy_assigned_at.to_formatted_s(:rfc822) %>.</p>

  <p>If you wish, you can <%= link_to "unassign", rsvp_path(rsvp.token), method: :delete, data: { confirm: 'Are you sure?' } %> your recorded proxy representative.</p>
<% end %>
