<% content_for :heading, "Blog" %>

<article>
  <table class="min-w-full divide-y divide-gray-200 text-sm text-left bg-white rounded shadow-sm ml-5">
    <thead class="bg-gray-50">
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Slug</th>
        <th>Title</th>
        <th>Category</th>
        <th>Content</th>
        <th>Created At</th>
        <th>Publish Scheduled At</th>
        <th>Published At</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      <% @posts.each do |post| %>
        <tr class="hover:bg-gray-100">
          <td><%= post.id %></td>
          <td><%= post.status.capitalize %></td>
          <td><%= post.slug %></td>
          <td><%= link_to post.title, admin_post_path(post) %></td>
          <td><%= post.category.humanize %></td>
          <td><%= post.content.to_plain_text.truncate(80) %></td>
          <td><%= post.created_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
          <td><%= post.publish_scheduled_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
          <td><%= post.published_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="ml-5 mt-5">
    <%= paginate @posts %>
  </div>
</article>
<p class="button">
  <%= link_to "New post", new_admin_post_path %>
</p>
