<% content_for :heading, "Post" %>
<%= render @post %>
<div class="my-5 ml-5">
  <%= link_to "Edit", admin_edit_post_path(@post) %> |
  <%= link_to "Delete", admin_delete_post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %> |
  <%= link_to "Archive", admin_archive_post_path(@post), method: :post, data: { confirm: 'Are you sure you want to archive this post?' } %> |
  <%= link_to "Back to posts", admin_posts_path, class: "btn btn-secondary" %>
</div>
