<% presenter = Melbourne::EventPresenter.new(event) %>
<h3 class="text-5xl"><%= presenter.name %></h3>
<div class="@container">
  <div class="mt-8 space-y-4 @md:grid @md:grid-cols-2 @md:gap-8">
    <div class="flex flex-row gap-4 items-center">
      <div class="w-13 h-13 aspect-square flex flex-col gap-0 justify-center items-center rounded bg-[#0D37F2] text-white">
        <span class="font-mono"><%= presenter.formatted_day_number %></span>
        <span class="-mt-1 font-mono text-xs">
          <%= presenter.formatted_month_abbreviation %>
          <% if presenter.year_is_different_from_current_year? %>
          <% end %>
        </span>
      </div>
      <div class="flex flex-col">
        <p class="font-medium leading-5 text-black">
          <%= presenter.formatted_date_with_conditional_year %>
        </p>
        <p class="leading-5 text-gray-600">6:30pm - 8:30pm</p>
      </div>
    </div>
    <div>
      <%= link_to presenter.venue_map_url, target: "_blank", class: "group" do %>
        <div class="flex flex-row gap-4 items-center">
          <div class="w-13 h-13 aspect-square flex flex-col gap-0 justify-center items-center rounded bg-[#0D37F2] text-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
            </svg>
          </div>
          <div class="flex flex-col group-hover:underline">
            <p class="font-medium leading-5 text-black truncate whitespace-nowrap"><%= presenter.venue_name %></p>
            <p class="leading-5 text-gray-600 truncate whitespace-nowrap">Level 7/271 Collins St</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-8">
  <p><%= presenter.description %></p>
  <div class="flex gap-2 mt-2">
    <%= link_to "See details",
                event_path(event),
                class: "block px-3.5 py-2.5 mt-4 w-full text-sm font-semibold text-center text-gray-900 bg-gray-200 rounded-md cursor-pointer shadow-xs hover:bg-gray-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" %>
    <%= link_to "Register",
                presenter.registration_link,
                class: "block px-3.5 py-2.5 mt-4 w-full text-sm font-semibold text-center text-white bg-[#0025CA] rounded-md cursor-pointer shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600",
                target: "_blank" %>

  </div>
</div>

<div class="mt-8">
  <%= link_to presenter.venue_map_url, target: "_blank" do %>
    <picture>
      <source srcset="<%= vite_asset_path('images/melbourne/ferocia_map-optimized.webp') %>" type="image/webp">
      <%= vite_image_tag("images/melbourne/ferocia_map-optimized.png", 
          class: "rounded w-full h-auto", 
          width: 800, 
          height: 600,
          alt: "Map showing location of Ferocia office",
          loading: "lazy") %>
    </picture>
  <% end %>
</div>
