<%
  formatter = Rouge::Formatters::HTML.new
  lexer = Rouge::Lexers::Ruby.new
%>

<% set_meta_tags title: "Home",
                 description: "Ruby community in Melbourne hosting meetups, workshops, hack nights, Rails Girls and more events to learn Ruby and grow the community.",
                 keywords: "Ruby, Rails, Melbourne, Meetup",
                 og: {
                   title: :title,
                   description: :description,
                   image: vite_asset_url("images/melbourne/ruby_melbourne_og.png")
                 },
                 twitter: { card: "summary_large_image" } %>

<div class="grid grid-cols-[1fr_minmax(0,_5fr)_minmax(0,_7fr)_1fr] grid-rows-[60dvh_48px_auto]">
  <%= render "melbourne/home/header" %>

  <div class="hidden col-span-4 col-start-1 row-start-2 gap-16 h-12 md:grid grid-cols-subgrid">
    <div class="col-start-2">
      <div class="flex bg-[#0025CA] rounded-t-lg h-full items-center px-4 overflow-auto">
        <code class="overflow-auto text-sm whitespace-nowrap highlight">
          <%== formatter.format(lexer.lex("render @past_events")) %>
        </code>
      </div>
    </div>
    <div class="col-start-3">
      <div class="flex bg-[#0025CA] rounded-t-lg h-full items-center px-4  overflow-auto">
        <code class="overflow-auto text-sm whitespace-nowrap highlight">
          <%== formatter.format(lexer.lex("render \"home/next_event\", event: @next_event")) %>
        </code>
      </div>
    </div>
  </div>

  <div class="grid col-span-4 row-start-3 gap-8 mt-8 mb-32 grid-cols-subgrid">
    <div class="order-2 col-span-4 col-start-1 md:order-1 md:col-start-2 md:col-span-1">
      <section class="px-4">
        <h2 class="px-4 font-mono text-gray-700">Past events</h2>
        <div class="mt-4 space-y-8">
          <%= render @past_events %>
        </div>
        <div>
          <%= link_to "All events",
                      events_path,
                      class: "block px-3.5 py-2.5 mt-4 w-full text-sm font-semibold text-center text-gray-900 bg-gray-200 rounded-md cursor-pointer shadow-xs hover:bg-gray-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" %>
        </div>
      </section>
    </div>
    <div class="order-1 col-span-4 col-start-1 md:order-2 md:col-start-3 md:col-span-1">
      <section class="px-8">
        <h2 class="font-mono text-gray-700">Next event</h2>
        <% if @next_event %>
          <div class="mt-4">
            <%= render "melbourne/home/next_event", event: @next_event %>
          </div>
        <% else %>
          <%= render "melbourne/home/no_upcoming_summary" %>
        <% end %>
      </section>
    </div>
  </div>
</div>
