<article class="flex flex-col col-start-3 gap-6 py-2 pr-4">
  <div class="flex flex-col gap-2">
    <h2 class="text-6xl font-semibold text-black text-balance"><%= event.name %></h2>
    <div class="flex flex-row gap-2 items-center">
      <img class="overflow-hidden w-8 h-8 rounded-full border-2 border-white shadow" src="https://ca.slack-edge.com/T05MR1HN2U9-U06LYG9KCJ3-66c5ce0cf7a3-512" alt="Juli">
      <h3 class="text-lg text-gray-600">Hosted by Juli</h3>
    </div>
  </div>

  <div class="grid grid-cols-2 items-center">
    <div class="flex flex-row gap-4 items-center">
      <div class="w-13 h-13 flex flex-col gap-0 justify-center items-center rounded bg-[#0D37F2] text-white">
        <span class="font-mono"><%= event.date.strftime("%d") %></span>
        <span class="-mt-1 font-mono text-xs">
           <%= event.date.strftime("%b") %><% if event.date.year != Date.current.year %><% end %>
         </span>
      </div>
      <div class="flex flex-col">
        <p class="font-medium leading-5 text-black">
          <%= event.date.strftime("%A, %d %B") %><% if event.date.year != Date.current.year %> <%= event.date.year %><% end %>
        </p>
        <p class="leading-5 text-gray-600">6:30pm - 8:30pm</p>
      </div>
    </div>
    <div class="flex flex-row gap-4 items-center">
      <div class="w-13 h-13 flex flex-col gap-0 justify-center items-center rounded bg-[#0D37F2] text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="flex flex-col">
        <p class="font-medium leading-5 text-black truncate whitespace-nowrap"><%= event.venue.name  %></p>
        <p class="leading-5 text-gray-600 truncate whitespace-nowrap">207 City Rd, Southbank</p>
      </div>
    </div>
  </div>

  <div class="flex overflow-hidden flex-col gap-2 p-1 bg-white rounded-lg border shadow-lg border-black/5">
    <% is_past_event = event.date < Date.current %>
    <h4 class="p-2 w-full font-semibold text-gray-500 bg-gray-100 rounded-t-md">
      <%= is_past_event ? 'Registration Closed' : 'Registration' %>
    </h4>

    <% if is_past_event %>
      <div class="px-4 py-4">
        <p class="text-lg leading-6 text-gray-600 mb-3">Registration for this event has ended.</p>
        <p class="text-base leading-6 text-gray-500">This event took place on <%= event.date.strftime("%A, %d %B") %><% if event.date.year != Date.current.year %> <%= event.date.year %><% end %>.</p>
      </div>
    <% else %>
      <p class="px-4 pt-2 text-lg leading-6 text-black">Welcome! To join the event please register using the form below. Spaces are limited and it's on a first come first serve basis.</p>
      <form action="#" method="POST" class="px-4 py-2">
        <div class="grid grid-cols-1 gap-y-2 gap-x-4 sm:grid-cols-2">
          <div class="sm:col-span-2">
            <label for="full-name" class="block font-semibold text-gray-900 text-sm/6">Full name</label>
            <input id="full-name" type="text" name="full-name" autocomplete="full-name" class="block px-3.5 py-2 w-full text-base text-gray-900 bg-white rounded-md outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600" />
          </div>
          <div class="sm:col-span-2">
            <label for="company" class="block font-semibold text-gray-900 text-sm/6">Company</label>
            <input id="company" type="text" name="company" autocomplete="organization" class="block px-3.5 py-2 w-full text-base text-gray-900 bg-white rounded-md outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600" />
          </div>
          <div class="sm:col-span-2">
            <label for="email" class="block font-semibold text-gray-900 text-sm/6">Email</label>
            <input id="email" type="email" name="email" autocomplete="email" class="block px-3.5 py-2 w-full text-base text-gray-900 bg-white rounded-md outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600" />
          </div>
        </div>
        <button type="submit" class="block px-3.5 py-2.5 mt-4 w-full text-sm font-semibold text-center text-white bg-blue-600 rounded-md cursor-pointer shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Register</button>
      </form>
    <% end %>
  </div>

  <div>
    <h4 class="pb-1 mb-1 text-gray-500 border-b border-gray-200">About Event</h4>
    <p class="text-lg text-black"><%= event.description %></p>
  </div>

  <div>
    <h4 class="pb-1 mb-1 text-gray-500 border-b border-gray-200">Talks</h4>
    <div class="flex flex-col gap-8 py-4">
      <%= render collection: event.talks, partial: "melbourne/events/talk" %>
    </div>
  </div>

</article>
