<div class="flex flex-col gap-2 border-l-4 pl-4 border-[#0D37F2]">
  <h4 class="text-xl font-semibold text-black"><%= talk.title %></h4>
  <p class="font-medium leading-5 text-black"><%= talk.speakers.map(&:name).to_sentence %></p>

  <p class="text-black"><%= sanitize talk.description %></p>

  <div class="grid grid-cols-2 gap-4 mt-1 w-full">
    <% talk.speakers.each do |speaker| %>
      <div class="flex flex-row gap-2 items-center w-full">
        <div class="flex flex-col">
          <p class="font-medium leading-5 text-black"><%= speaker.name %></p>
        </div>
      </div>
    <% end %>
  </div>
    <% if talk.youtube_video_id.present? %>
      <div class="w-full aspect-[16/9]">
        <%= youtube_iframe(talk.youtube_video_id) %>
      </div>
    <% else %>
      <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
          <h5 class="mb-2 text-2xl font-semibold text-gray-900">Sorry :(</h5>
          <p class="mb-3 font-normal text-gray-500">The video is either not uploaded yet, or something went wrong, or just plain not available.</p>
      </div>
    <% end %>
</div>
