
<% if @event %>
  <% set_meta_tags Melbourne::Event::OpenGraphMetadata.new(@event).to_meta_tags %>
  <% content_for :head do  %>
    <script type="application/ld+json">
      <%= raw JSON.pretty_generate @event.schema.to_h %>
    </script>
  <% end %>
<% end %>

<article class="flex flex-col col-start-3 px-4 py-6">
  <div class="event-detail">
    <% current_event = defined?(event) ? event : @event %>
    <h2 class="text-2xl"><%= current_event.name %></h2>
    <p><strong>Date:</strong> <%= current_event.date if current_event.date %></p>
    <p><strong>Venue:</strong> <%= current_event.venue.name if current_event.venue&.name %></p>
    <p><strong>Summary:</strong> <%= current_event.summary if current_event.summary %></p>
    
    <% if current_event.respond_to?(:talks) && current_event.talks.any? %>
      <hr class="my-4">
      <h3 class="text-xl">Talks</h3>
      <div class="mt-8">
        <% current_event.talks.each do |talk| %>
          <article class="p-4 mb-4 rounded-lg border">
            <% if talk.respond_to?(:title) && talk.title %>
              <h4 class="font-semibold"><%= talk.title %></h4>
            <% end %>
            <% if talk.respond_to?(:description) && talk.description %>
              <p><%= talk.description %></p>
            <% end %>
            <% if talk.respond_to?(:speakers) && talk.speakers.any? %>
              <strong>Speakers:</strong>
              <ul class="pl-5 list-disc">
                <% talk.speakers.each do |speaker| %>
                  <li>
                    <% if speaker.respond_to?(:name) && speaker.name %>
                      <p><%= speaker.name %></p>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </article>
        <% end %>
      </div>
    <% end %>
  </div>
</article>

