<% set_meta_tags @event_presenter.open_graph_metadata %>
<%= render "layouts/melbourne/navigation" %>

<article class="max-w-[80ch] mx-auto px-4 lg:px-0 mt-8 mb-16">
  <div class="space-y-8">
    <h1 class="text-4xl text-black md:text-6xl"><%= @event_presenter.name %></h1>

    <div class="grid gap-2 items-center mt-8 md:grid-cols-2">
      <div class="flex flex-row gap-4 items-center">
        <div class="w-13 h-13 flex flex-col gap-0 justify-center items-center rounded bg-[#0D37F2] text-white">
          <span class="font-mono"><%= @event_presenter.formatted_day_number %></span>
          <span class="-mt-1 font-mono text-xs">
            <%= @event_presenter.formatted_month_abbreviation %>
            <% if @event_presenter.year_is_different_from_current_year? %>
            <% end %>
          </span>
        </div>
        <div class="flex flex-col">
          <p class="font-medium leading-5 text-black">
            <%= @event_presenter.formatted_date_with_conditional_year %>
          </p>
          <p class="leading-5 text-gray-600">6:30pm - 8:30pm</p>
        </div>
      </div>
      <div class="flex flex-row gap-4 items-center">
        <div class="w-13 h-13 flex flex-col gap-0 justify-center items-center rounded bg-[#0D37F2] text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div class="flex flex-col">
          <p class="font-medium leading-5 text-black truncate whitespace-nowrap"><%= @event_presenter.venue_name %></p>
          <p class="leading-5 text-gray-600 truncate whitespace-nowrap">207 City Rd, Southbank</p>
        </div>
      </div>
    </div>

    <div class="flex overflow-hidden flex-col gap-2 p-1 bg-white rounded-lg border shadow-lg border-black/5">
      <h4 class="p-2 w-full font-semibold text-gray-500 bg-gray-100 rounded-t-md">
        <%= @event_presenter.registration_status_title %>
      </h4>

      <% if @event_presenter.in_the_past? %>
        <div class="px-4 py-4">
          <p class="mb-3 text-lg leading-6 text-gray-600">Registration for this event has ended.</p>
          <p class="text-base leading-6 text-gray-500"><%= @event_presenter.past_event_message %></p>
        </div>
      <% else %>
        <p class="px-4 pt-2 text-lg leading-6 text-black">To join the event please register using the link
          below. Spaces are limited, and it's on a first come, first served basis.</p>
        <%= link_to "Register",
                    @event_presenter.registration_link,
                    class: "block px-3.5 py-2.5 mt-4 w-full text-sm font-semibold text-center text-white bg-[#0D37F2] rounded-md cursor-pointer shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600",
                    target: "_blank" %>
      <% end %>
    </div>

    <div>
      <h4 class="pb-1 mb-1 text-gray-500 border-b border-gray-200">About Event</h4>
      <p class="text-lg text-black"><%= @event_presenter.description %></p>
    </div>

    <div>
      <h4 class="pb-1 mb-1 text-gray-500 border-b border-gray-200">Talks</h4>
      <div class="flex flex-col gap-8 py-4">
        <%= render collection: @event_presenter.talks, partial: "melbourne/events/talk" %>
      </div>
    </div>
  </div>
</article>

