<div class="grid grid-cols-1 col-start-1 row-start-1 row-span-2 grid-row-1 col-span-4 h-full min-h-[60dvh] bg-blue-700 overflow-hidden">
  <picture class="col-start-1 row-start-1">
    <source srcset="<%= vite_asset_path('images/melbourne/bg-wall-optimized.webp') %>" type="image/webp">
    <%= vite_image_tag("images/melbourne/bg-wall-optimized.jpg", 
        class: "col-start-1 row-start-1 object-cover h-full w-full", 
        width: 1200, 
        height: 800,
        alt: "Blue textured background wall",
        loading: "eager") %>
  </picture>
  <div class="flex z-10 flex-col col-start-1 row-start-1 gap-2 justify-center items-center max-h-[60dvh] md:flex-row">
    <h1 class="sr-only">Ruby Melbourne</h1>
    <picture>
      <source srcset="<%= vite_asset_path('images/melbourne/logomark-graf-optimized.webp') %>" type="image/webp">
      <%= vite_image_tag("images/melbourne/logomark-graf-optimized.png", 
          class: "text-white h-20 w-18 md:h-32 md:w-29", 
          width: 610, 
          height: 550,
          alt: "Ruby Melbourne logo") %>
    </picture>
    <%= vite_inline_svg("melbourne/logo-graf.svg", alt: 'Ruby Melbourne', class: "text-white h-18 md:h-32 md:w-86") %>
  </div>
</div>
