<aside class="dn db-l h-100 z-0 overflow-x-hidden w5 shadow-4 bg-rb-white fixed">
  <a href="/" class="flex justify-center pt3 h3 bg-rb-red">
    <%= image_tag "inline-logo.png", alt: "Ruby Australia", class: "pl4 pr4 h2" %>
  </a>

  <nav class="pl4 pr4 anon-pro" id="toc">
    <% if signed_in? %>
      <%= link_to 'Profile', profile_path, class: "anon-pro b h2 w4 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-red rb-red rb-white-hover rb-red-focus bg-rb-red-hover shadow-4 no-underline" %>
      <%= link_to 'Logout', sign_out_path, { method: :delete, class: "sign_out anon-pro b h2 w4 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-red rb-red rb-white-hover rb-red-focus bg-rb-red-hover shadow-4 no-underline" } %>
    <% else %>
      <%= link_to 'Login', sign_in_path, class: "anon-pro b h2 w4 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-red rb-red rb-white-hover rb-red-focus bg-rb-red-hover shadow-4 no-underline mv2 dib" %>
      <%= link_to 'Join', sign_up_path, class: "anon-pro b h2 w4 pt1 pb1 pl4 pr4 tc b--solid bw175 b--rb-red rb-red rb-white-hover rb-red-focus bg-rb-red-hover shadow-4 no-underline mv2 dib" %>
    <% end %>

    <h3 class="rb-red mb0">Association</h3>
    <ul class="list">
      <li>
        <%= link_to 'Committee Members', "/committee-members" %>
      </li>
      <li>
        <%= link_to 'Meeting Minutes', "https://forum.ruby.org.au/c/ruby-au/meetings" %>
      </li>
      <li>
        <%= link_to 'Code of Conduct', "/code-of-conduct" %>
      </li>
      <li>
        <%= link_to 'Constitution', "/constitution" %>
      </li>
      <li>
        <%= link_to 'Sponsorship', "/sponsorship" %>
      </li>
    </ul>

    <h3 class="rb-red mb0">Events</h3>
    <ul class="list">
      <li>
        <%= link_to 'Rails Camp', "/#railscamp" %>
      </li>
      <li>
        <%= link_to 'RubyConf AU', "/#rubyconf-au" %>
      </li>
      <li>
        <%= link_to 'Meetups', "/#meetups" %>
      </li>
      <li>
        <%= link_to 'Rails Girls', "/rails-girls" %>
      </li>
    </ul>

    <h3 class="rb-red mb0">Community</h3>
    <ul class="list">
      <li>
        <%= link_to 'Forum (RDU)', "https://forum.ruby.org.au", target: :blank %>
      </li>
      <li>
        <%= link_to 'Chat (Slack)', "https://ruby-au-join.herokuapp.com/", target: :blank %>
      </li>
      <li>
        <%= link_to 'Videos', "https://www.youtube.com/channel/UCr38SHAvOKMDyX3-8lhvJHA", target: :blank %>
      </li>
    </ul>

    <ul class="list">
      <li><h3><%= link_to "Contact us", "/contact", class: "no-underline rb-red" %></h3></li>
    </ul>
  </nav>
</aside>
