<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ruby Australia</title>
  <link rel="icon" href="/favicon.ico" />
  <link rel="canonical" href="https://ruby.org.au" />
  <meta name="robots" content="index,follow" />
  <meta name="description" content="Ruby Australia, an organisation that is dedicated to supporting the community and
  events around Australia focused on the Ruby programming language. Providing financial and institutional support for
  RubyConf AU, Rails Camps, RailsGirls, and the meetups across the country." />
  <meta name="keywords" content="ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth,
  western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can,
  programming, meetup, group, user group, conferences, events" />
  <meta property="og:title" content="Ruby Australia - <%= yield :heading %>" />
  <meta property="og:description" content="We are an organisation that is dedicated to supporting the community and
  events around Australia focused on the Ruby programming language. Providing financial and institutional support for
  RubyConf AU, Rails Camps, RailsGirls, and the meetups across the country." />
  <meta name="view-transition" content="same-origin" />
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <meta property="og:url" content="https://ruby.org.au"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://ruby.org.au/preview.jpg"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:locale" content="en_EN"/>
  <meta property="og:site_name" content="Ruby Australia"/>
  <meta name="twitter:site" content="ruby.org.au" />
  <meta name="twitter:creator" content="@rubyaustralia" />
  <meta name="twitter:image" content="https://ruby.org.au/preview.jpg" />
  <meta name="twitter:title" content="Ruby Australia" />
  <meta name="twitter:description" content="An organisation supporting the community and
  events around Australia focused on the Ruby programming language." />
  <%= csrf_meta_tags %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application' %>
  <%# hack to use cdn since failed to import trix from production, no issue in dev, remove it once the issue is fixed %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/trix@2.1.12/dist/trix.umd.min.js" %>

</head>
  <body class="bg-pearl">
    <div id="wrap" class="flex flex-col md:flex-row">
      <aside id="meta" class="md:w-64 sm:w-screen flex-shrink-0">
        <%= render "shared/navigation" %>
      </aside>
      <div class="w-auto bg-transparent flex-auto flex-shrink flex-grow flex-col overflow-y-scroll">
        <main>
          <div id="body" role="main" class="md:max-w-full">
          <% if content_for?(:heading) || !content_for?(:banner) %>
            <h1><%= yield :heading %></h1>
          <% end %>

          <% if content_for?(:banner) %>
            <%= yield :banner %>
          <% end %>

          <div class="md:max-w-full">
            <div id="flash">
              <% flash.each do |key, value| %>
                <p class="flash <%= key %>"><%= value %></p>
              <% end %>
            </div>

            <% if complex_view? %>
              <%= yield %>
            <% else %>
              <section id="welcome" class="bg-white flex flex-1 flex-col border-l-2 border-grey-lighter md:mt-5">
                <section class="welcome">
                  <%= yield %>
                </section>
              </section>
            <% end %>
          </div>
        </div>
        </main>
        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
