<!DOCTYPE html>
<html lang="en">
<head>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cc342d">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#0a0a0a" media="(prefers-color-scheme: dark)">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page_title %></title>
  <link rel="icon" href="/favicon.ico">
  <link rel="canonical" href="https://ruby.org.au">
  <meta name="robots" content="index,follow">
  <meta name="description" content="Ruby Australia, an organisation that is dedicated to supporting the community and
  events around Australia focused on the Ruby programming language. Providing financial and institutional support for
  RubyConf AU, Ruby Retreats, RailsGirls, and the meetups across the country.">
  <meta name="keywords" content="ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth,
  western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can,
  programming, meetup, group, user group, conferences, events">
  <meta property="og:title" content="<%= page_title %>">
  <meta property="og:description" content="We are an organisation that is dedicated to supporting the community and
  events around Australia focused on the Ruby programming language. Providing financial and institutional support for
  RubyConf AU, Ruby Retreats, RailsGirls, and the meetups across the country.">
  <meta name="view-transition" content="same-origin">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <meta property="og:url" content="https://ruby.org.au">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://ruby.org.au/preview.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:locale" content="en_EN">
  <meta property="og:site_name" content="Ruby Australia">
  <meta name="twitter:site" content="ruby.org.au">
  <meta name="twitter:creator" content="@rubyaustralia">
  <meta name="twitter:image" content="https://ruby.org.au/preview.jpg">
  <meta name="twitter:title" content="<%= page_title %>">
  <meta name="twitter:description" content="An organisation supporting the community and
  events around Australia focused on the Ruby programming language.">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <%= auto_discovery_link_tag(:rss, "/posts/feed.rss") %>
  <%= csrf_meta_tags %>
  <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2===o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId".split(" "),n=0; n<o.length; n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('<%= Rails.application.credentials[:POSTHOG_PROJECT_TOKEN] %>', {
      api_host: '<%= Rails.application.credentials[:POSTHOG_HOST] %>',
      person_profiles: 'identified_only'
    });
    <% if current_user %>
    posthog.identify('<%= current_user.posthog_distinct_id %>');
    <% end %>
  </script>
  <%= vite_client_tag %>
  <%= vite_javascript_tag("rails", defer: true) %>
  <%= vite_javascript_tag("controllers", defer: true) %>
  <%= vite_javascript_tag("actiontext", defer: true) %>
  <%= vite_javascript_tag("application") %>
  <%= vite_stylesheet_tag("application") %>
</head>
<body class="bg-pearl mt-16 sm:mt-20 md:mt-24">
<%= render "shared/navigation" %>
<%= render "shared/flash-notice" %>
<main>
  <%= yield %>
</main>
<%= render "shared/footer" %>
<%= render 'shared/scroll_to_top' %>
</body>
</html>
