<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>Ruby Australia</title>
    <meta content="Ruby Australia" name="description"/>
    <meta content="ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth, western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can, programming, meetup, group, user group, conferences, events" name="keywords"/>
    <meta content="width=device-width" name="viewport"/>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body class="flex">
    <aside class="dn db-l h-100 z-0 overflow-x-hidden w5 shadow-4 bg-rb-white fixed">
      <a href="/" class="flex justify-center pt3 h3 bg-rb-red">
        <%= image_tag "inline-logo.png", alt: "Ruby Australia", class: "pl4 pr4 h2" %>
      </a>

      <div class="pl4 pr4 anon-pro" id="toc">
        <h3 class="rb-grey80">Members</h3>

        <ul>
          <% if signed_in? %>
            <li>
              <%= link_to 'My profile', profile_path %>
            </li>
            <li>
              <%= link_to 'Sign out', sign_out_path,  { method: :delete, class: 'sign_out' } %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Member sign in', sign_in_path %>
            </li>
            <li>
              <%= link_to 'Join Ruby Australia', sign_up_path %>
            </li>
          <% end %>
        </ul>

        <h3 class="rb-grey80">Association</h3>
        <ul>
          <li>
            <%= link_to 'Committee Members', "/committee-members" %>
          </li>
          <li>
            <%= link_to 'Meeting Minutes', "https://forum.ruby.org.au/c/ruby-au/meetings" %>
          </li>
          <li>
            <%= link_to 'Code of Conduct', "/code-of-conduct" %>
          </li>
          <li>
            <%= link_to 'Constitution', "/constitution" %>
          </li>
          <li>
            <%= link_to 'Sponsorship', "/sponsorship" %>
          </li>
        </ul>

        <h3 class="rb-grey80">Events</h3>
        <ul>
          <li>
            <%= link_to 'Rails Camp', "/#railscamp" %>
          </li>
          <li>
            <%= link_to 'RubyConf AU', "/#rubyconf-au" %>
          </li>
          <li>
            <%= link_to 'Meetups', "/#meetups" %>
          </li>
          <li>
            <%= link_to 'Rails Girls', "/rails-girls" %>
          </li>
        </ul>

        <h3 class="rb-grey80">Community</h3>
        <ul>
          <li>
            <%= link_to 'Forum (RDU)', "https://forum.ruby.org.au", target: :blank %>
          </li>
          <li>
            <%= link_to 'Chat (Slack)', "https://ruby-au-join.herokuapp.com/", target: :blank %>
          </li>
          <li>
            <%= link_to 'Videos', "https://www.youtube.com/channel/UCr38SHAvOKMDyX3-8lhvJHA", target: :blank %>
          </li>
        </ul>

        <h3 class="rb-grey80"><%= link_to "Contact us", "/contact" %></h3>
      </div>
    </aside>

    <main class="pa0 w-100 ml7-l" id="main">
      <div class="pl2 pl4-ns pr2-ns">
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>

        <%= yield %>

        <footer role="contentinfo">
          <small>&copy; <%= Time.zone.now.year %> Ruby Australia</small>
        </footer>
      </div>

    </main>
  </body>
</html>
