<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>Ruby Australia</title>
    <meta content="Ruby Australia" name="description"/>
    <meta content="ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth, western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can, programming, meetup, group, user group, conferences, events" name="keywords"/>
    <meta content="width=device-width" name="viewport"/>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <header role="banner">
      <a href="/">
        <span class="logo">Ruby Australia</span>
      </a>
    </header>

    <aside id="meta">
      <nav role="navigation">
        <h3>Website</h3>
        <ul>
          <li>
            <% if signed_in? %>
              Signed in as: <%= current_user.email %>
              <%= button_to 'Sign out', sign_out_path, method: :delete %>
            <% else %>
              <%= link_to 'Sign in', sign_in_path %>
            <% end %>
          </li>
        </ul>

        <h3>Association</h3>
        <ul>
          <li>
            <%= link_to 'Committee Members', "/committee-members" %>
          </li>
          <li>
            <% unless signed_in? %>
              <%= link_to 'Join Ruby Australia', sign_up_path %>
            <% end %>
          </li>
          <li>
            <%= link_to 'Meeting Minutes', "/association" %>
          </li>
          <li>
            <%= link_to 'Code of Conduct', "/code-of-conduct" %>
          </li>
          <li>
            <%= link_to 'Sponsorship', "/sponsorship" %>
          </li>
          <li>
            <%= link_to 'Rails Camp', "/#railscamp" %>
          </li>
          <li>
            <%= link_to 'RubyConf AU', "/#rubyconf-au" %>
          </li>
          <li>
            <%= link_to '@rubyaustralia', "http://twitter.com/rubyaustralia" %>
          </li>
        </ul>
        <h3>Community</h3>
        <ul>
          <li>
            <%= link_to 'Meetups', "/#meetups" %>
          </li>
          <li>
            <%= link_to 'Articles', "/articles" %>
          </li>
          <li>
            <%= link_to 'Mailing list', "https://groups.google.com/forum/#!forum/rails-oceania" %>
          </li>
          <li>
            <%= link_to 'Slack', "https://rubyau-slack.herokuapp.com/" %>
          </li>
          <li>
            <%= link_to 'IRC (#roro)', "http://kiwiirc.com/client/irc.freenode.net/roro" %>
          </li>
          <li>
          <%= link_to 'Videos', "https://vimeo.com/rubyau/channels" %>
          </li>
          <li>
            <%= link_to 'Mentoring', "https://github.com/rails-oceania/roro/wiki/Mentoring" %>
          </li>
          <li>
            <%= link_to 'Wiki', "https://github.com/rails-oceania/roro/wiki" %>
          </li>
        </ul>
      </nav>
    </aside>

    <section role="main">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </section>

    <footer role="contentinfo">
      <small>&copy; <%= Time.zone.now.year %> Ruby Australia</small>
    </footer>
  </body>
</html>
