<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>Ruby Australia</title>
    <meta content="Ruby Australia" name="description"/>
    <meta content="ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth, western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can, programming, meetup, group, user group, conferences, events" name="keywords"/>
    <meta content="width=device-width" name="viewport"/>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body class="flex">
    <%= render "layouts/navbar" %>

    <main class="pa0 w-100 ml7-l" id="main">
      <%= yield :header %>

      <div class="pl2 pl4-ns pr2-ns">
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>

        <%= yield %>
      </div>

      <%= yield :contributing %>

      <footer role="contentinfo">
        <small>&copy; <%= Time.zone.now.year %> Ruby Australia</small>
      </footer>
    </main>


  </body>
</html>
