<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ruby Australia</title>
  <link rel="icon" href="/favicon.ico" />
  <link rel="canonical" href="https://ruby.org.au" />
  <meta name="robots" content="index,follow" />
  <meta name="description" content="Ruby Australia, an organisation that is dedicated to supporting the community and
  events around Australia focused on the Ruby programming language. Providing financial and institutional support for
  RubyConf AU, Rails Camps, RailsGirls, and the meetups across the country." />
  <meta name="keywords" content="ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth,
  western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can,
  programming, meetup, group, user group, conferences, events" />
  <meta property="og:title" content="Ruby Australia - <%= yield :heading %>" />
  <meta property="og:description" content="We are an organisation that is dedicated to supporting the community and
  events around Australia focused on the Ruby programming language. Providing financial and institutional support for
  RubyConf AU, Rails Camps, RailsGirls, and the meetups across the country." />
  <meta name="view-transition" content="same-origin" />
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <meta property="og:url" content="https://ruby.org.au"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://ruby.org.au/preview.jpg"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:locale" content="en_EN"/>
  <meta property="og:site_name" content="Ruby Australia"/>
  <meta name="twitter:site" content="ruby.org.au" />
  <meta name="twitter:creator" content="@rubyaustralia" />
  <meta name="twitter:image" content="https://ruby.org.au/preview.jpg" />
  <meta name="twitter:title" content="Ruby Australia" />
  <meta name="twitter:description" content="An organisation supporting the community and
  events around Australia focused on the Ruby programming language." />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application' %>
  <!-- hack to use cdn since failed to import trix from production, no issue in dev, remove it once the issue is fixed -->
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/trix@2.1.12/dist/trix.umd.min.js" %>
</head>
<body class="bg-pearl mt-20">
<%= render "shared/navigation" %>
<%= render "shared/flash-notice" %>
<main>
  <%= yield %>
</main>
<%= render "shared/footer" %>
</body>
</html>
