<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <title>Ruby Australia</title>
  <meta content="Ruby Australia" name="description"/>
  <meta content="ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth, western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can, programming, meetup, group, user group, conferences, events" name="keywords"/>
  <meta content="width=device-width" name="viewport"/>

  <%= csrf_meta_tags %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
</head>

<body>
<div id="wrap" class="flex flex-col md:flex-row">
  <aside id="meta" class="md:w-64 sm:w-screen flex-no-shrink">
    <nav role="navigation" class="flex items-center justify-between flex-wrap bg-pink text-white">
      <header role="banner" class="bg-pink py-2 px-5 flex-no-shrink h-12">
        <a href="/" class="text-white no-underline flex flex-row">
          <%= image_tag 'logo_standalone_tiny.png', width: 34, alt: 'Ruby Australia Logo' %>
          <p class="self-center ml-4 text-white text-lg md:text-xl">Ruby Australia</p>
        </a>
      </header>
      <div id="mobile-menu-trigger" class="block md:hidden bg-pink">
        <button class="flex items-center mr-4 px-3 py-2 border rounded text-pink-lightest border-pink-lighter hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>
      <% if false %>
      <div class="search ml-2 mt-6">
        <svg class="fill-current text-pink inline-block h-4 w-4" viewBox="0 0 20 20">
          <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
        </svg>
        <input type="text" placeholder="search..." class="border-solid text-pink-darkest border-pink border-b">
      </div>
      <% end %>

      <div id="mobile-menu" class="w-full hidden md:visible flex-grow md:flex-col md:flex md:items-center md:w-auto bg-white text-pink">
        <div class="actions ml-2 md:ml-0 mb-6 flex">
          <% if false %>
          <% if signed_in? %>
            <%= link_to 'My profile', profile_path %>
            <%= button_to 'Sign out', sign_out_path, { method: :delete, class: 'sign_out' } %>
          <% else %>
            <%= link_to 'Login', sign_in_path %>
            <%= link_to 'Join', sign_up_path %>
          <% end %>
          <% end %>
        </div>

        <section id="nav-primary" class="ml-5 md:ml-0" aria-roledescription="primary navigation">
          <h3>Association</h3>
          <ul>
            <li><%= link_to "Welcome", "/" %></li>
            <li><%= link_to 'Committee Members', "/committee-members" %></li>
            <li><%= link_to_external "Meeting Minutes", "https://forum.ruby.org.au/c/ruby-au/meetings", longdesc: 'Committee Meeting minutes hosted on RubyAU Forums' %></li>
            <li><%= link_to 'Code of Conduct', "/code-of-conduct" %></li>
            <li><%= link_to 'Constitution', "/constitution" %></li>
            <li><%= link_to 'Sponsorship', "/sponsorship" %></li>
            <li><%= link_to "Contact us", "/contact" %></li>
          </ul>

          <h3>Events</h3>
          <ul>
            <li><%= link_to_external "Rails Camp" %></li>
            <li><%= link_to_external "RubyConf AU", "https://rubyconf.org.au" %></li>
            <li><%= link_to 'Meetups', "/#in-person" %></li>
            <li><%= link_to 'Rails Girls', "/rails-girls" %></li>
          </ul>

          <h3>Community</h3>
          <ul>
            <li><%= link_to_external "Forum (Ruby Down Under)", "https://forum.ruby.org.au/" %></li>
            <li><%= link_to_external "Chat (Slack)", slack_path %></li>
            <li><%= link_to_external "Videos", videos_path %></li>
            <li><%= link_to_external 'Mailing List', "/mailing-list" %></li>
          </ul>
        </section>
      </div>
    </nav>
  </aside>

  <section class="w-auto bg-transparent flex-auto flex-shrink flex-grow flex-col overflow-y-scroll">
    <div id="body" role="main" class="md:max-w-full pb-3">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>

    <footer role="contentinfo" class="invisible hidden">
      <small>&copy; <%= Time.current.year %> Ruby Australia</small>
    </footer>
  </section>
</div>
</body>
</html>
